<div class="card-header">
    <div class="card-header__title" [id]="QUIZ_QUESTION">
        <p>{{ question?.question }}</p>
    </div>
</div>

<div class="card-body">
    <mat-radio-group
            [attr.aria-labelledby]="QUIZ_QUESTION"
            class="md-group quest-single-list"
            [ngClass]="{'is-wrong': value !== question?.correctAnswer.sys.id}"
            [(ngModel)]="value"
            (ngModelChange)="onSelect()"
    >
        @for (answerOption of question?.answers; track answerOption) {

            <mat-radio-button [value]="answerOption?.sys.id"
                              name="radio_{{answerOption?.sys.id}}"
                              [attr.aria-label]="answerOption?.fields?.answer">
                {{ answerOption?.fields?.answer }}
            </mat-radio-button>

        }
    </mat-radio-group>


</div>
<div class="card-answer block block--xs" [ngStyle]="{visibility: value ? 'visible' : 'hidden'}">
    @switch (value) {
        @case (question?.correctAnswer.sys.id) {
            <div class=" block__header">
                <div class="d-inline-flex">
                    <div class="btn__grid">
                        <mat-icon svgIcon="check_circle" class="correct"></mat-icon>
                        <strong i18n="@@quiz-widget.correct">Correct!</strong>
                    </div>
                </div>
            </div>
            <div class="block__text" [innerHTML]="question?.correctAnswerText | mdToHtml"></div>
        }
        @default {
            <div class=" block__header" >
                <div class="d-inline-flex">
                    <div class="btn__grid">
                        <mat-icon svgIcon="cancel" class="incorrect"></mat-icon>
                        <strong  i18n="@@quiz-widget.incorrect"> Not Quite!!</strong>
                    </div>
                </div>

            </div>
            <div class="block__text" [innerHTML]="question?.incorrectAnswerText | mdToHtml"></div>
        }
    }
</div>


