@use "_v3/calc" as calc;

$h: '' !default;
$init: (

);
:host {
  @include calc.css-initVars($init, $h);

  ::ng-deep {



    .correct {
      color: var(--#{calc.$color}palette-blue-070);
    }

    .incorrect {
      color: var(--#{calc.$color}palette-pink-070);
    }
  }
}
