@use "_v3/calc" as calc;

$h: '' !default;
$init: (
  padding-y: (media-query-up: (
    xs: var(--#{calc.$cb}space-300),
    lg: var(--#{calc.$cb}space-400),
  )),
  padding-x: (media-query-up: (
    xs: var(--#{calc.$cb}space-300),
    lg: var(--#{calc.$cb}space-400),
  )),
  block--font-size: (media-query-up: (
    xs: var(--#{calc.$cb}font-size-125),
  )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
  display: block;
}

:host ::ng-deep {

  .block--micro-steps {
    > .block__label {
      font: 900 1rem / 1 var(--#{calc.$cb}font-sans-extra-wide);
      text-transform: uppercase;
      letter-spacing: 0.02rem;
    }

    > .block__grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      column-gap: var(--#{calc.$cb}grid-column-gap);
      row-gap: var(--#{calc.$cb}space-300);
    }

    > .block__ctrl {
      text-align: center;
    }
  }

  .#{calc.$card-class}.card--micro-step {
    --#{calc.$card}bg: var(--#{calc.$color}palette-red-005);
    --#{calc.$card}footer-bg: var(--#{calc.$color}lilly-brand-red);
    --#{calc.$card}radius: var(--#{calc.$cb}radius-2);
    --#{calc.$card}padding-y: var(--#{$h}padding-y);
    --#{calc.$card}padding-x: var(--#{$h}padding-x);
    --#{calc.$card}border-width: 1px;
    --#{calc.$card}radius-inset: clamp(0px, calc(var(--#{calc.$card}radius) - var(--#{calc.$card}border-width)), var(--#{calc.$card}radius));
    --#{calc.$card}gap-y: 0;
    grid-template-rows: 1fr auto;

    .#{calc.$card-class}__body {
      padding-bottom: var(--#{$h}padding-y);
    }

    .#{calc.$card-class}__footer {
      height: 1.1875rem;
      padding: 0;
    }

    .block {
      font-size: var(--#{$h}block--font-size);

      &__label {
        //font: 900 1rem / 1 var(--#{calc.$cb}font-sans-extra-wide);
        text-transform: uppercase;
        letter-spacing: 0.02rem;

      }
    }
  }
}
