@use "_v3/calc" as calc;

$slider-font-size: calc(var(--#{calc.$cb}font-size-base) * 0.875);

$h: '' !default;

$init: (
        font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                lg: var(--#{calc.$cb}font-size-125),
        )),
        line-height: (media-query-up: (
                xs: var(--#{calc.$cb}line-height-base),
                lg: var(--#{calc.$cb}line-height-lg),
        )),
        media-radius: (media-query-up: (
                xs: var(--#{calc.$cb}radius-4),
                lg: var(--#{calc.$cb}radius-4),
        )),
        media-h: (media-query-up: (
                xs: 14rem,
                lg: 18rem,
                xl: 19rem,
        )),
        media-w: (media-query-up: (
                xs: 100%,
        )),
        card-gap-y: .75rem,
        gap-1-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-100),
                lg: var(--#{calc.$cb}space-200),
        )),
        gap-2-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-200),
                lg: var(--#{calc.$cb}space-300),
        )),
        body-offset-x: (media-query-up: (
                xs: 0,
                lg: var(--#{calc.$cb}space-300),
        )),
        //slider
        slide-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-sm),

        )),
        slide-bg: (media-query-up: (
                xs: transparent,
                md: var(--#{calc.$color}neutral-base-005),

        )),
        slide-card-radius: (media-query-up: (
                xs: 0,
                md: var(--#{calc.$cb}radius-4),
        )),
        slide-offset: (media-query-up: (
                xs: 0,
                md: var(--#{calc.$cb}space-300),

        )),
        slide-media-h: (media-query-up: (
                xs: 19rem,
                lg: 14rem,
                xl: 15rem,
        )),
        slide-media-radius: (media-query-up: (
                xs: var(--#{calc.$cb}radius-4),
        )),
        category-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-lg),
                md: var(--#{calc.$cb}font-size-125),
        )),
        // category-line-height: (media-query-up: (
        //         xs: var(--#{calc.$cb}line-height-175),
        //         md: var(--#{calc.$cb}line-height-md),
        // )),
        article-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-175),
                md: var(--#{calc.$cb}font-size-200),
        )),
        // article-line-height: (media-query-up: (
        //         xs: var(--#{calc.$cb}line-height-175),
        //         md: var(--#{calc.$cb}line-height-262),
        // )),
        // date-line-height: (media-query-up: (
        //         xs: var(--#{calc.$cb}line-height-sm),
        //         md: var(--#{calc.$cb}line-height-md),
        // )),
        desc-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-lg),
                md: var(--#{calc.$cb}font-size-125),
        )),
        // desc-line-height: (media-query-up: (
        //         xs: var(--#{calc.$cb}line-height-sm),
        //         md: var(--#{calc.$cb}line-height-md),
        // )),
) !default;

:host {
  @include calc.css-initVars($init, $h);
  @media screen and (min-width: map-get(calc.$grid-breakpoints, xl)) and (min-height: map-get(calc.$height-breakpoints, xl)) {
    --#{$h}media-h: 22.5rem;
  }
  position: relative;
  display: grid;

  ::ng-deep {
    .#{calc.$card-class} {
      --#{calc.$cb}media-h: var(--#{$h}media-h);
      --#{calc.$cb}media-w: var(--#{$h}media-w);
      --#{calc.$cb}media-radius: var(--#{$h}media-radius);
      --#{calc.$card}gap-y: var(--#{$h}card-gap-y);
      font-size: var(--#{$h}font-size);
      grid-template-rows: min-content 1fr;
      cursor: pointer;

      &.article-card-slider{
        font-size: var(--#{$h}slide-font-size);
        --#{calc.$card}bg: var(--#{$h}slide-bg);
        --#{calc.$cb}media-h: var(--#{$h}slide-media-h);
        --#{calc.$cb}media-radius: var(--#{$h}slide-media-radius);
        padding: var(--#{$h}slide-offset);
        border-radius: var(--#{$h}slide-card-radius);
      }

      .#{calc.$card-class}__body {
        display: grid;
        grid-template-rows: 1fr auto;
        row-gap: var(--#{$h}gap-2-y);
        padding-right: var(--#{$h}body-offset-x);
      }

      .title {
        font-size: var(--#{$h}article-font-size);
        // line-height: var(--#{$h}article-line-height);
        letter-spacing: -0.04rem;
      }

      .block--1 {
        --#{calc.$cb}block-offset-y: var(--#{$h}gap-1-y);
      }
      .block--2 {
        --#{calc.$cb}block-offset-y: var(--#{$h}gap-2-y);
      }

      .block__date {
        color: var(--#{calc.$color}neutral-base-060);
        font-weight: var(--#{calc.$cb}font-weight-middle);
        font-size: var(--#{calc.$cb}font-size-125);
        // line-height: var(--#{$h}date-line-height);
      }

      .block__summary {
        font-size: var(--#{$h}desc-font-size);
        // line-height: var(--#{$h}desc-line-height);
      }

      .block__tags {
        --#{calc.$tag}fg: var(--#{calc.$color}neutral-base-060);
        display: flex;
        align-items: center;

        .cb-tag__grid {
          font-weight: var(--#{calc.$cb}font-weight-middle);
        //   line-height: var(--#{$h}category-line-height);
          font-size: var(--#{$h}category-font-size);
        }

        > * + * {
          &:before {
            display: inline-flex;
            align-items: center;
            content: "\00a0\00a0|\00a0\00a0";
            font-size: .85em;
            color: var(--#{calc.$color}neutral-base-040);
          }
        }
      }
    }
  }

}

