<cb-card class="article-card"
         [ngClass]="{'article-card-slider': sliderArticleCard()}"
         [routerLink]="[ClientRoutes.Blog, article()?.fields?.slug]">
    <cb-card-header>
        <picture class="media article-card_image">
            @if (article().fields?.heroImage?.fields?.file?.url) {
                <img
                    [src]="article().fields?.heroImage?.fields?.file?.url"
                    [alt]="article().fields?.altText || ''"/>

            } @else {
                <img
                    src="../../../../../assets/images/no-image.png"
                    alt="no image"
                />
            }
        </picture>
        <a [href]="blogArticleLink()" (click)="$event.preventDefault()"
           attr.aria-label="Read more about {{article()?.fields?.title}}"></a>
    </cb-card-header>

    <cb-card-body>
        <div class="block block--1">
            @if (article().fields?.category) {
                <div class="block__tags">
                    @if (article().fields?.archived) {
                        <cb-tag class="is-base archived-tag" i18n="@@blog_article_card.archived">Archived</cb-tag>
                    }
                    @for (cat of helperService.orderTagsArr(article().fields?.category); track cat; let i = $index) {
                        <cb-tag class="is-base">{{ cat }}</cb-tag>
                    }
                </div>
            }

            <div class="block__title">
                <h3 class="title" tabindex="0" (keydown.enter)="navigateToArticle(article().fields?.slug)">
                    {{ article().fields?.title }}
                </h3>
            </div>
            @if (!sliderArticleCard()) {
                <div class="block__date">
                    @if (article().fields?.revisedDate) {
                        <span i18n="@@blog_article_card.revised">Revised</span>&nbsp;
                        <span class="date-margin">{{ article().fields?.revisedDate | date: 'MMM dd, yyyy' }}</span>
                    } @else {
                        <span i18n="@@blog_article_card.published">Published</span>&nbsp;
                        <span class="date-margin">{{ article().fields?.publishDate | date: 'MMM dd, yyyy' }}</span>
                    }
                </div>
            }

        </div>
        @if (!sliderArticleCard()) {
            <div class="block block--2">
                <div class="block__text block__summary">
                    {{ article().fields?.summary }}
                </div>
            </div>
        }
        @if (sliderArticleCard()) {
            <div class="block__ctrl">
                <a role="button" mat-flat-button color="primary" class="is-sm"
                    [href]="blogArticleLink()"
                    (click)="$event.preventDefault()">
                    <div class="btn__grid">
                    <span i18n>Read</span>
                    <mat-icon svgIcon="arrow_forward"></mat-icon>
                    </div>

                </a>
            </div>
        }
    </cb-card-body>
</cb-card>

<ng-template #notUsedElements>
    @if (article().fields?.pinned && !sliderArticleCard()) {
        <div class="pinned-article">
    <span>
      <mat-icon svgIcon="priority_pin"></mat-icon>
    </span>
            <span i18n="@@blog_article_card.pinned">Pinned</span>
        </div>
    }

    <div class="read-time">
        <p>
            {{ article().fields?.readTime }}
        </p>
    </div>

    <span>{{ article().fields?.author?.fields?.name }} </span>

</ng-template>
