<cst-wrapper class="cst--blog  is--first  " hostSizeClass="cst--lg" [showTitle]="false"
             [showLogoSubject]="false">
    <ng-container cst-header-content>
        <h1 class="title ringside-heading-0-font" i18n="@@blog_articles.trials_blog">Lilly Trials Blog</h1>

        <div class="block block--header">
            <div class="block__nav">
                <ng-template [ngTemplateOutlet]="navTabs"/>
            </div>
            <ng-template [ngTemplateOutlet]="formT"/>
        </div>
    </ng-container>

    <section class="block block--lg" aria-label="Articles" i18n-aria-label="@@blog.articles">
        @if (!loading) {
            <div class="articles">
                @for (article of isShowAll ? articles : (articles | slice: 0:pageSize); track article) {
                    <lilly-blog-article-card [article]="article"></lilly-blog-article-card>
                }
            </div>
            @if (!isShowAll && articles?.length) {
                <div class="text-center">
                    <button color="primary" (click)="isShowAll = true" mat-flat-button class="show-more">
                        <span i18n="@@blog_articles.show_posts">Show All Posts</span>
                    </button>
                </div>
            }
        }
        @if (!articles.length) {
            <div class="articles">
                @for (i of [].constructor(loadersAmount); track i) {
                    <lilly-blog-page-skeleton-loader></lilly-blog-page-skeleton-loader>
                }
            </div>
        }

    </section>
</cst-wrapper>

<ng-template #formT>
    <div class="block__form d-print-none" [formGroup]="filtersForm">
        <div class="cb-form form--filters cb-main-filters" role="complementary">
            <div class="form-group form-group--search form--font-serif ">
                <label for="search-input" class="label--external" i18n>Search by keyword</label>
                <mat-form-field appearance="fill" class="has-out-hint">
                    <div matPrefix>
                        <mat-icon svgIcon="search"/>
                    </div>
                    <input id="search-input"
                           matInput
                           i18n-placeholder="@@blog_articles.search_blog"
                           placeholder="Search Lilly Trials Blog Articles"
                           type="text"
                           autocomplete="off"
                           (keydown.enter)="onSearchBlogs(searchValue); searchValue = '';"
                           [(ngModel)]="searchValue"
                           [ngModelOptions]="{standalone: true}"
                           aria-label="Search Lilly Trials Blog Articles"
                           i18n-aria-label="@@blog-articles.search_blog_arialabel"
                    />
                    @if (searchValue) {
                        <div matSuffix>
                            <button mat-button class="btn--text is-sm" (click)="searchValue = ''">
                                <span i18n>Clear</span>
                                <!--                                <mat-icon svgIcon="clear"></mat-icon>-->
                            </button>
                        </div>
                    }

                </mat-form-field>

            </div>

            <div class="form-group form-group--sorting">
                <lilly-sorting formControlName="sortBy" [options]="sortList"></lilly-sorting>
            </div>
            <div class="form-group form-group--submit">
                <button mat-icon-button class="btn--submit is-lg" (click)="onSearchBlogs(searchValue)"
                        aria-label="Search blogs"
                        i18n-aria-label="@@blog-articles.search_blogs_arialabel">
                    <mat-icon svgIcon="arrow_forward"></mat-icon>
                </button>
            </div>
            <div class="form-group form-group--refs">
                <cb-tag class="cb-tag--archive is-base">
                    <mat-slide-toggle formControlName="isArchived" class="md-toggle-text--" tabindex="0">
                        <div class="btn__grid">
                            <div i18n="@@blog_articles.archived_posts">
                                Show Archived Posts
                            </div>
                            <mat-icon svgIcon="info"
                                      class="sm"
                                      [matTooltip]="blogArticlesArchivedPostsTooltipLabel"
                                      tabindex="0"
                                      [attr.aria-label]="blogArticlesArchivedPostsTooltipLabel"
                            ></mat-icon>

                        </div>
                        <!--                            TODO no needs on/off label -->
                        <!--                            <div class="md-label is-checked">-->
                        <!--                                    <span i18n="@@blog_articles.on" aria-label="Show archived posts on"-->
                        <!--                                          i18n-aria-label="@@blog-articles.show_archived_on_arialabel">ON</span>-->
                        <!--                            </div>-->
                        <!--                            <div class="md-label no-checked">-->
                        <!--                                    <span i18n="@@blog_articles.off" aria-label="Show archived posts off"-->
                        <!--                                          i18n-aria-label="@@blog-articles.show_archived_off_arialabel">OFF</span>-->
                        <!--                            </div>-->

                    </mat-slide-toggle>
                </cb-tag>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #meetTheTeam>
    <div class="about d-print-none">
        <button color="primary" [routerLink]="[ClientRoutes.BlogAbout]" mat-stroked-button>
            <mat-icon svgIcon="person"></mat-icon>
            <span class="text">
                <a [href]="blogAboutLink" (click)="$event.preventDefault()"></a>
                <span i18n="@@blog_articles.meet_team">Meet the Team</span>
            </span>
        </button>
    </div>
</ng-template>

<ng-template #navTabs>
    <div class="tab-section">
        <div class="nav--tabs">
            <div class="show-desktop-only">
                <div class="nav--tabs__container">
                    <lilly-one-row-navigation>
                        <div class="nav--tabs__content" i18n-aria-label="@@blog-articles.categories_arialabel">
                            @for (tab of categories; track tab) {
                                <button
                                        mat-flat-button
                                        (click)="onTabSelect(tab?.sys?.id)"
                                        (keydown.enter)="onTabSelect(tab?.sys?.id)"
                                        class="nav--tabs__item"
                                        tabindex="0"
                                        role="link"
                                        [ngClass]="{ 'selected': activeTab() === tab?.sys?.id}"
                                        [attr.aria-label]="tab?.fields?.title">
                                    <span>{{ tab?.fields?.title }}</span>
                                </button>
                            }
                        </div>
                    </lilly-one-row-navigation>
                    @if (!categories.length) {
                        <ngx-skeleton-loader count="5" [theme]="{width: '100%' }"></ngx-skeleton-loader>
                    }
                </div>
            </div>
        </div>
        <div class="form-group show-mobile-only">
            <label for="category-selection" class="label--external" i18n="@@blog-articles.select_blog_category">Select a Blog Category:</label>
            <mat-form-field class="has-out-hint">
                <mat-select [value]="activeTab()" id="category-selection">
                    @for (tab of categories; track tab) {
                        <mat-option
                                [value]="tab?.sys?.id"
                                (click)="onTabSelect(tab?.sys?.id)"
                        >{{ tab?.fields?.title }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</ng-template>

<span hidden="true" #sortingNameDate i18n="@@blog_articles.sorting.name_date">Date</span>
<span hidden="true" #blogArticlesArchivedPostsTooltip i18n="@@blog_articles.archived_posts.tooltip_text">Information within these articles was accurate at the time of publication but is no longer being updated</span>
<span hidden="true" #sortingSlugDate i18n="@@blog_articles.sorting.slug_date">date</span>
<span hidden="true" #sortingNamePopularity i18n="@@blog_articles.sorting.name_popularity">Most Popular</span>
<span hidden="true" #sortingSlugPopularity i18n="@@blog_articles.sorting.slug_popularity">popularity</span>

