<mat-dialog-content class="usa-cookies-body">
    <h2 class="title" i18n="@@usa-cookies-banner.home.title">Privacy Preferences</h2>
    <div>
        <div class="txt">
            <p>
                <span class="txt__brief" i18n="@@usa-cookies-banner.home.desciption">
                    Lilly collects information about your online interactions, such as user ID, browsing history,
                    geolocation and IP address, through tracking technologies, such as third-party cookies.
                </span>
                {{ ' ' }}
                <span class="txt__more" i18n="@@usa-cookies-banner.home.desciption_show_more"
                      [ngClass]="{'is-show': showTextMoreMobile}">
                    You
                    may accept, decline or withdraw your consent to most cookies and tracking technologies on this
                    site, other than those that are necessary for the site operations and functionality, by
                    clicking one of the options below. We use this information to personalize content, save your
                    preferences, and track website performance. We share information with our analytics,
                    marketing, and advertising partners for purposes of targeted advertising and analyzing website
                    metrics. Please visit our
                    <a [routerLink]="ClientRoutes.CookieNotice" class="font-weight-bold"
                       target="_blank">Cookie Notice</a>,
                    <a [href]="externalRoutes.Privacy" class="font-weight-bold" target="_blank">
                        Privacy Statement</a>,
                    and
                    <a [href]="externalRoutes.ConsumerHealthPrivacyNotice" class="font-weight-bold" target="_blank">
                        Consumer Health Privacy Notice
                    </a>
                    for more information. Certain laws require consent to collect and share information. You can
                    withdraw your consent at any time through the
                    <a (click)="$event.preventDefault(); openSettings()" href=""  class="font-weight-bold" id="cookieSettings"
                       role="button"
                    >Cookie Settings</a>
                    or
                    <a [href]="externalRoutes.YourPrivacyChoice" class="font-weight-bold"
                       target="_blank">Your
                        Privacy Choices</a>
                    in our website footer.
                </span>
                <span class="txt__ctrl">
                    <span>
                      @if (!showTextMoreMobile) {
                        <span>...</span>
                        <a (click)="showTextMoreMobile = !showTextMoreMobile" i18n="@@usa-cookies-banner.home.view_more">
                          View More
                        </a>
                      } @else {
                        <a (click)="showTextMoreMobile = !showTextMoreMobile" i18n="@@usa-cookies-banner.home.view_less">
                          View Less
                        </a>
                      }
                    </span>
                </span>
            </p>
            <p>
                <a (click)="$event.preventDefault(); decline()" i18n="@@usa-cookies-banner.home.decline_nevada_washington"
                   href=""
                   role="button"
                   class="font-weight-bold" id="userToDecline">Users
                    located in Washington or Nevada must use this link to Decline All</a>
            </p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions class="md-dialog-action-confirm" align="start">
    <div class="mat-dialog-actions__1 ">
        <button
          mat-flat-button
          color="primary"
          class="md-btn-submit"
          data-cb-id="i9lDxU_dZRlR"
          (click)="accept()"
          i18n="@@usa-cookies-banner.home.accept-button"
        >
            Accept All
        </button>
        <button
          mat-flat-button
          color="primary"
          class="md-btn-submit"
          data-cb-id="AZCDtqPcGAIa"
          (click)="decline()"
          i18n="@@usa-cookies-banner.home.decline-button"
        >
            Decline All
        </button>
    </div>
    <div class="mat-dialog-actions__2">
        <a
          (click)="$event.preventDefault(); openSettings()"
          href=""
          role="button"
          data-cb-id="HPWm2Q3pm2Wp"
          i18n="@@usa-cookies-banner.home.manage-settings-button"
        >
            Manage Cookie Settings
        </a>
    </div>
</mat-dialog-actions>

