@if (visible) {
    <section class="wrapper__cookie d-print-none" id="cookie-banner">
        <div class="container">
            <div class="row {{isPrivacyProtectionGDPR || isPrivacyProtectionCCPA ? 'align-items-center' : ''}}">
                <div class="col-md wrapper__cookie--desc" >
                    <div i18n="@@extended-cookiesBanner.description">
                        This website uses cookies and other technologies to personalize content and ads on this and
                        other websites and provide social media features.
                        By clicking “I Agree” you consent to our use of tracking technologies and disclosure of tracking
                        data to third party ad networks or social media companies for the purposes above.
                        If you click "I Disagree" you can still use this website. For more information about Lilly’s
                        privacy practice and to manage third-party preferences,

                        <a
                                [href]="externalRoutes.Privacy"
                                class="link"
                                target="_blank">
                            click here.
                        </a>
                    </div>
                </div>
                <div class="col-md-auto wrapper__cookie--btns mt-4 mt-md-0">
                    <div class="row g-3 align-items-center {{isPrivacyProtectionGDPR ? 'flex-column' : ''}}" >
                        @if (!isPrivacyProtectionGDPR) {
                            <div class="col-auto font-weight-bold">
                                <button color="primary"
                                        mat-stroked-button
                                        data-cb-id="T2yaP-V9ASba"
                                        (click)="onDismiss()">
                                    <span class="font-weight-bold" i18n="@@extended-cookiesBanner.disagree">I Disagree</span>

                                </button>
                            </div>
                        } @else {
                            <div class="col-auto font-weight-bold">
                                <button color="primary"
                                        mat-stroked-button
                                        data-cb-id="z-txVhkQPeOq"
                                        (click)="onConfigure()">
                                    <span class="font-weight-bold" i18n="@@extended-cookiesBanner.configuration">Cookie settings</span>
                                </button>
                            </div>
                        }
                        <div class="col-auto font-weight-bold">
                            <button color="primary"
                                    mat-stroked-button
                                    data-cb-id="Btrces7pGuX7"
                                    (click)="onAccept()">
                                <span class="font-weight-bold" i18n="@@extended-cookiesBanner.agree">I Agree</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
