@use "_v3/calc" as *;

:host {
  position: sticky;
  top: 0;
  z-index: var(--#{$cb}cookie-banner-z-index);
}

.wrapper__cookie {
  padding: calc(1rem - 1px) 0 calc(1rem - 2px);
  background-color: var(--#{$cb}white);
  border-top: 4px solid var(--#{$cb}primary);
  box-shadow: 0 3px 8px rgb(33 33 33 / 20%);
  font-size: .75rem;
  line-height: var(--#{$cb}line-height-sm);
}
