<footer class="static-footer">
  <div class="container">
    <div class="static-footer-main-links">
      <a class="md-btn-link"
        (click)="goToLink(newRoutes.TermsOfUse)"
        itemprop="url"
        routerLinkActive="is-active"
        aria-label="Terms of use (opens in new tab)"
        i18n-aria-label="@@footer.terms_of_use_arialabel"
        tabindex="0"
      >
        <div i18n="@@extended-footer.terms_and_conditions">Terms of Use</div>
      </a>

      <a class="md-btn-link"
        (click)="goToLink(newRoutes.Privacy)"
        itemprop="url"
        routerLinkActive="is-active"
        aria-label="Privacy statement (opens in new tab)"
        i18n-aria-label="@@footer.privacy_policy_arialabel"
        tabindex="0"
      >
        <div i18n="@@extended-footer.privacy_policy">Privacy Statement</div>
      </a>

      <a class="md-btn-link"
        (click)="goToLink(newRoutes.Accessibility)"
        itemprop="url"
        routerLinkActive="is-active"
        aria-label="Accessibility statement (opens in new tab)"
        i18n-aria-label="@@footer.accessibility_arialabel"
        tabindex="0"
      >
        <div i18n="@@footer.accessibility">Accessibility Statement</div>
      </a>

      <a class="md-btn-link"
        (click)="goToLink(newRoutes.ConsumerHealthPrivacyNotice)"
        itemprop="url"
        routerLinkActive="is-active"
        aria-label="Consumer Health Privacy Notice (opens in new tab)"
        i18n-aria-label="@@footer.consumer_health_privacy_arialabel"
        tabindex="0"
      >
        <div i18n="@@extended-footer.consumer_health_privacy_notice">Consumer Health Privacy Notice</div>
      </a>

      <a class="md-btn-link"
        itemprop="url"
        routerLinkActive="is-active"
        (click)="goToLink(newRoutes.YourPrivacyChoice)"
        aria-label="Your Privacy Choices (opens in new tab)"
        i18n-aria-label="@@footer.your_privacy_choices_arialabel"
        tabindex="0"
      >
        <div i18n="@@extended-footer.your_privacy_choices">Your Privacy Choices</div>
      </a>
    </div>

    <a
      (click)="goToLink(newRoutes.Copyright)"
      class="md-btn-link"
      [ngClass]="{'md-btn-without-link': ['es-ar', 'es-mx'].includes(defaultCultureCode?.toLowerCase())}"
      i18n="@@footer.copyright.lilly_company"
      attr.aria-label="Copyright {{currentYear}} Eli Lilly and Company (opens in new tab)"
      tabindex="0">
      Copyright © {{currentYear}} Eli Lilly and Company
    </a>

    <div class="static-footer-logo">
      <a class="md-footer-brand disable-user-select"
        (click)="goToLink(newRoutes.Home)"
        routerLinkActive="home"
        aria-label="Lilly logo (opens in new tab)"
        i18n-aria-label="@@footer.lilly_logo_arialabel"
        tabindex="0">
        <img [src]="'assets/images/lilly-logo.svg'" width="100" height="54" class="md-footer-brand-img" alt="Lilly logo">
      </a>
    </div>
  </div>
</footer>
