@use "_v3/calc" as *;

:host {
  display: block;
  padding: var(--#{$cb}space-100) 0;
  height: 100%;
  width: 100%;
}

.blockquote {
  display: flex;
  flex-direction: column;

  &-icon, &-quote, &-author, &-source {
    text-align: center;
  }

  &-icon mat-icon {
    @include square(2rem);
    transform: rotate(180deg);
  }

  &-quote {
    text-align: center;
    margin: var(--#{$cb}space-400) 0 var(--#{$cb}space-200);
  }

  &-author, &-source {
    font-size: var(--#{$cb}font-size-base);
  }

  &-author {
    font-weight: var(--#{$cb}font-weight-bold);
  }
  page-break-inside: avoid;
}
