@use "_v3/calc" as calc;

$h: '' !default;

$init: (
        blockquote-border: 5px,
        blockquote-font-size: 1.5rem,
  //
        media-radius: (media-query-up: (
                xs: var(--#{calc.$cb}radius-4),
                lg: var(--#{calc.$cb}radius-8),
        )),
        media-h: (media-query-up: (
                xs: 20rem,
                lg: 21rem,
                xl: 22rem,
        )),
        media-w: (media-query-up: (
                xs: 100%,
        )),
        carousel-item-width:(media-query-up: (
                xs: 100%,
                lg: initial,
        )),
  //
        block-head-gap-y:(media-query-up: (
                xs: var(--#{calc.$cb}space-400),
                lg: var(--#{calc.$cb}space-300),
        )),
        block-head-font-size:(media-query-up: (
                xs: var(--#{calc.$cb}font-size-sm),
        )),
        block-head-info-gap-y:(media-query-up: (
                xs: var(--#{calc.$cb}space-200),
                md: var(--#{calc.$cb}space-300),
        )),
        block-head-info-columns:(media-query-up: (
                xs: 1fr,
                md: 1fr auto,
        )),
        block-date-gap-y:(media-query-up: (
                xs: var(--#{calc.$cb}space-50),
                sm: var(--#{calc.$cb}space-100),
                lg: var(--#{calc.$cb}space-300),
        )),
        cst-top-in-margin-y:(media-query-up: (
                xs: var(--#{calc.$cb}space-600),
                lg: var(--#{calc.$cb}space-800),
        )),
) !default;

:host {
  @include calc.css-initVars($init, $h);
  @media screen and (min-width: map-get(calc.$grid-breakpoints, xl)) and (min-height: map-get(calc.$height-breakpoints, xl)) {
    --#{$h}media-h: 27rem;
    --#{$h}cst-top-in-margin-y:var(--#{calc.$cb}space-900)
  }

  ::ng-deep {

    .cst.cst--article-top {
      --#{calc.$cb}cst-in-margin-y: var(--#{$h}cst-top-in-margin-y);
      padding-bottom: 0;
    }

    .block--article-header {
      font-size: var(--#{$h}block-head-font-size);
      gap: var(--#{$h}block-head-gap-y);

      .block__title {
        .block__date {
          margin-top: var(--#{$h}block-date-gap-y);
        }
      }

      .block__categories {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: .25rem;

      }


      .block__date {
        --#{calc.$tag}fg: var(--#{calc.$color}neutral-base-060);
        color: var(--#{calc.$color}neutral-base-060);
        font-weight: var(--#{calc.$cb}font-weight-middle);
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        @include calc.media-breakpoint-up(sm) {
          //align-items: center;
          flex-direction: row;
          > * + * {
            &:before {
              display: inline-flex;
              align-items: center;
              content: "\00a0\00a0|\00a0\00a0";
              font-size: .85em;
              color: var(--#{calc.$color}neutral-base-040);
            }
          }
        }
      }

      .block__share {
        > * {
          display: block;
        }
      }

      .block--article-header__info {
        display: grid;
        grid-template-columns: var(--#{$h}block-head-info-columns);
        justify-content: space-between;
        align-items: center;
        gap: var(--#{$h}block-head-info-gap-y) var(--#{calc.$cb}space-300);
        padding-bottom: var(--#{$h}block-head-info-gap-y);
        border-bottom: 2px solid var(--#{calc.$color}neutral-base-030);
      }
    }


    .media.media--main {
      --#{calc.$cb}media-h: var(--#{$h}media-h);
      --#{calc.$cb}media-w: var(--#{$h}media-w);
      --#{calc.$cb}media-radius: var(--#{$h}media-radius);
    }


    .article-content {
      overflow: auto;

      blockquote {
        padding-left: 1.125rem;
        margin: 0 0 var(--#{calc.$cb}space-300);
        border-left: var(--#{$h}blockquote-border) solid var(--page-color);

        p {
          font-weight: var(--#{calc.$cb}font-weight-normal);
          font-size: var(--#{$h}blockquote-font-size);
        }

        page-break-inside: avoid;
      }

      p {
        margin-bottom: var(--#{calc.$cb}space-300);

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color: var(--page-color);
      }

      img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
      }
    }




    .cst--recent {

    }

  }
}

/*
.blog-article-wrapper {
  .blog-article {
    justify-content: center;

    .category-share {
      width: 100%;
      align-items: center;

      > * {
        margin: var(--#{calc.$cb}space-100) 0;
      }
    }

    .references {
      display: flex;
      justify-content: center;
      margin: 0 0 1.2rem;

      .reference {
        color: var(--page-color);
        text-decoration: none;
        font-size: var(--#{calc.$cb}font-size-sm);
        font-weight: var(--#{calc.$cb}font-weight-normal);
        padding: 0 0.375rem;

        &:not(:first-child) {
          border-left: 1px solid var(--#{calc.$cb}gray-300);
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .recent-articles {
      &-title {
        font-weight: var(--#{calc.$cb}font-weight-bold);
        margin-bottom: var(--#{calc.$cb}space-200);
        margin-top: var(--#{calc.$cb}space-200);
      }
    }

    .article {
      .article-title {
        text-align: left;
      }

      .img-wrapper {
        width: 100%;
        padding-top: 55%;
        position: relative;
        margin: var(--#{calc.$cb}space-300) 0;

        img {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .article-tags {
        .tag {
          color: var(--page-color);
          text-decoration: none;
        }
      }
    }
  }
}


.share-btns-dsk {
  display: flex;
  justify-content: center;
  margin: var(--#{calc.$cb}space-100) 0;

  ::ng-deep {
    lilly-share-button-container {
      .soc-network-horiz {
        height: inherit;
        width: inherit;

        lilly-share-button {
          margin-right: var(--#{calc.$cb}space-200);
        }
      }
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--#{calc.$cb}primary);
  border: 1px solid var(--#{calc.$cb}primary);
  border-radius: var(--#{calc.$cb}radius-sm);
  height: fit-content;

  h2 {
    margin-bottom: 0;
    padding: var(--#{calc.$cb}space-100) var(--#{calc.$cb}space-100);
  }

  .tags-divider {
    margin: 0 var(--#{calc.$cb}space-100);
  }

  .tags-divider,
  .tag {
    color: var(--#{calc.$cb}primary);
  }

  .archived-tag {
    color: var(--#{calc.$cb}gray-500);
  }
}

.article-date {
  font-weight: var(--#{calc.$cb}font-weight-bold);

  &_revised {
    margin-left: var(--#{calc.$cb}space-300) !important;
  }

  span {
    margin-left: var(--#{calc.$cb}space-100);
  }

}

.blog-article-author {
  ::ng-deep {
    .content {
      font-size: var(--#{calc.$cb}font-size-base) !important;
    }
  }
}

.sidebar-menu-container--right {
  order: 1;
}
*/
