@use '_v3/calc' as *;

.articles {
  .preview {
    &__author {
      margin: 7rem auto 7.5rem;
      display: flex;

      .author-info {
        margin-left: 1.85rem;
      }

      .img {
        width: 14.2rem;
        border-radius: 100%;
      }
    }

    @include media-breakpoint-down(md) {
      &__author {
        flex-direction: column;
        text-align: center;

        .author-info {
          margin-left: 0;
        }

        .img {
          width: 6.5rem;
        }
      }
    }
  }

  .articles-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex: 1;
    flex: 1;
    gap: 2rem 1rem;
  
    .articles-el {
      width: 40%;
  
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
  }
}
