<div>
    @if (mediaId()) {
        @switch (mediaType()) {
            @case (MediaContentType.VIDEO) {
                <lilly-video [videoUrl]="mediaId()"
                             [isAutoplay]="isAutoplay()"
                             [isPlaying]="isPlaying()"
                             [isLoop]="isLoop()"
                             [isMuted]="isMuted()"
                             [subsiteName]="subsiteName()"
                             [title]="title()"
                             (ended)="onVideoEnded()"></lilly-video>
            }
            @case (MediaContentType.KALTURA) {
                <lilly-kaltura [entryId]="mediaId()"
                               [uiConfigId]="uiConfigId()"
                               [isAutoplay]="isAutoplay()"
                               [isPlaying]="isPlaying()"
                               [isLoop]="isLoop()"
                               [isMuted]="isMuted()"
                               [subsiteName]="subsiteName()"
                               [title]="title()"
                               (ended)="onVideoEnded()"></lilly-kaltura>
            }
            @case (MediaContentType.YOUTUBE) {
                <lilly-youtube [youtubeId]="mediaId()"
                               [isAutoplay]="isAutoplay()"
                               [isPlaying]="isPlaying()"
                               [isLoop]="isLoop()"
                               [isMuted]="isMuted()"
                               [subsiteName]="subsiteName()"
                               [title]="title()"
                               (ended)="onVideoEnded()"></lilly-youtube>
            }
        }
    }
</div>
