@use "_v3/calc" as calc;

$h: '' !default;
$init: (
  bg: (media-query-up: (
    xs: transperent,
    lg: 'linear-gradient(0deg, rgba(228, 235, 241, 0.00) 35.35%, rgba(228, 235, 241, 0.60) 100%)',
  )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
  display: block;
  background: var(--#{$h}bg);
}

:host ::ng-deep  {
  .csts--wrapper {

  }
}


