@if (footerFields()) {
  <footer class="footer-main theme--dark d-print-none">
    <div class="container">
      <div class="block is-grid block--structure is-grid" #languageSwitcher>
        <div class="block__brand">
          <ng-container [ngTemplateOutlet]="logo"></ng-container>
        </div>
        <div class="block__content">
          <div class="block is-grid">
            <div>
              <ng-container
                *ngTemplateOutlet="menu1; context: {rowClass: 'wrapper-links', colClass: '', overlayContainer: languageSwitcher}"></ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
}

<ng-template #logo>
  @if (footerFields()?.logoImage?.fields?.file?.url) {
    <a class="brand disable-user-select"
       [href]="footerFields()?.logoLink?.fields?.url"
       (click)="onLinkClick(footerFields()?.logoLink, $event)"
       routerLinkActive="home"
       [attr.aria-label]="footerFields()?.logoImage?.fields?.title"
       tabindex="0">
      <img [src]="footerFields()?.logoImage?.fields?.file?.url"
           [alt]="footerFields()?.logoImageAlt"
           class="footer-logo">
    </a>
  }
</ng-template>

<ng-template #menu1 let-rowClass="rowClass" let-colClass="colClass" let-overlayContainer="overlayContainer">
  <div class="block block---links">
    <h4 class="footer-title">{{ footerFields()?.contactSectionTitle }}</h4>
    <div [ngClass]="rowClass">
      @for (link of footerFields()?.navigationLinks; track link.sys.id) {
        <div [ngClass]="colClass">
          <a class="md-btn-link"
             [href]="helperService.prepareContentfulLink(link?.fields?.url)"
             (click)="onLinkClick(link, $event)"
             itemprop="url"
             routerLinkActive="is-active"
             [attr.aria-label]="link?.fields?.displayText"
             tabindex="0">
            <div>{{ link?.fields?.displayText }}</div>
          </a>
        </div>
      }
    </div>

    @if (footerFields()?.customerSupportContent) {
      <div class="customer-support-content" [innerHTML]="footerFields()?.customerSupportContent  | mdToHtml"></div>
    }

    <div class="block is-grid block--3col">
      <div>
        <h4 class="footer-title">{{ footerFields()?.privacySectionTitle }}</h4>
        <div [ngClass]="rowClass">
          @for (privacyLink of footerFields()?.privacyLinks; track privacyLink.sys.id) {
            <div [ngClass]="rowClass">
              <a class="md-btn-link"
                 [href]="helperService.prepareContentfulLink(privacyLink?.fields?.url)"
                 (click)="onLinkClick(privacyLink, $event)"
                 itemprop="url"
                 routerLinkActive="is-active"
                 [attr.aria-label]="privacyLink?.fields?.displayText"
                 tabindex="0">
                @if (privacyLink?.fields?.icon?.fields?.file?.url) {
                  <div class="btn__grid">
                    <img [alt]="privacyLink?.fields?.iconAlt"
                         width="33"
                         class="link-list__logo link-list__logo--decorative"
                         [src]="privacyLink?.fields?.icon?.fields?.file?.url">
                    <div>{{ privacyLink?.fields?.displayText }}</div>
                  </div>
                }
              </a>
            </div>
          }
          @if (isCookieAccepted) {
            <div [ngClass]="rowClass">
              <div>
                <a class="md-btn-link"
                   itemprop="url"
                   routerLinkActive="is-active"
                   (click)="showCookiesSettings()"
                   tabindex="0"
                >
                  <div i18n="@@extended-footer.cookie_settings">Cookie Settings</div>
                </a>
              </div>
            </div>
          }
        </div>
      </div>
      <div>
        <h4 class="footer-title">{{ footerFields()?.socialSectionTitle }}</h4>
        <ng-container
          *ngTemplateOutlet="share; context: {alignClass: ''}"></ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #share let-alignClass="alignClass">
  <div class="row g-2 align-items-center" [ngClass]="alignClass">
    @for (socialLink of footerFields()?.socialLinks; track socialLink.sys.id) {
      <div class="col-auto">
        <a [href]="helperService.prepareContentfulLink(socialLink?.fields?.url)"
           mat-icon-button
           class="md-social mat-elevation-z0"
           (click)="onLinkClick(socialLink, $event)"
           [attr.aria-label]="socialLink?.fields?.displayText">
          @if (socialLink?.fields?.icon?.fields?.file?.url) {
            <img [alt]="socialLink?.fields?.iconAlt"
                 class="link-list__logo"
                 [src]="socialLink?.fields?.icon?.fields?.file?.url">
          }
        </a>
      </div>
    }
  </div>
</ng-template>
