@if (!loading) {
  @if (!noTrials) {
    @for (trial of isShowAll ? trials : trials.slice(0, initAmountOfTrials); track trial) {
      <lilly-trial-card
        [createUrlCallback]="createTrialSummaryUrl.bind(this)"
        [isShowLocationInfo]="false"
        titleSymbolSize="142"
        [trial]="trial"
        [store]="store"
        (titleClicked)="selectTrial($event)"
        [cbGtmEventAttribute]="'preQualifyTrialCardSubsitePage'"
      >
      </lilly-trial-card>
    }

    @if (!isShowAll) {
      <div class="show-all">
        <button mat-flat-button color="primary" (click)="isShowAll = true" class="mb-button-main">
          <div class="btn__grid">
            <span i18n="@@trials-widget.show_all">Show All</span>
            <mat-icon svgIcon="arrow_down"></mat-icon>
          </div>
        </button>
      </div>
    }
  } @else {
    <div class="text-center" i18n="@@trials-widget.no_trials_text">
      No current trials enrolling at this time. Sign-up for Lilly Trial Alerts to be notified of enrolling trials in the future.
    </div>

  }

}
@else {
  <div class="text-center" i18n="@@trials-widget.loading">Loading...</div>
}
