<div class="col-xl-12 col-lg-12 col">
    <h1 class="h1 title text-center title-under mb-6" i18n="@@blog_team_about.meet_team">Meet the Team</h1>
</div>
<div class="blog-container col-xl-12 col-lg-12 col">
    <p class="h4">{{ pageFields?.body }}</p>
    <div style="margin: auto;" class="col-xl-8 col-lg-8 col">
        <h2 class="h3" i18n="@@blog_team_about.our_team">
            Our Team
        </h2>
        @for (author of pageFields?.featuredAuthors; track author) {
            <div class="blog-container__author">
                <span>
                    <img [src]="author?.fields?.image?.fields?.file?.url"
                         [alt]="author?.fields?.altText || ''"/>
                </span>
                <span class="blog-container__author--inf">
                    <h3 class="h4">{{ author?.fields?.name }}</h3>
                    @if (author?.fields?.slug !== AuthorSlug.SARAH_BENNETT && author.hasArticles) {
                        <span>
                            <a [routerLink] = "[ClientRoutes.BlogAuthor, author?.fields?.slug]"><span i18n="@@blog_team_about.view_all">View all of {{author?.fields?.name }}'s blog articles</span></a>
                        </span>
                    }
                    <div>{{ author?.fields?.bio }}</div>
                </span>
            </div>
        }
    </div>
</div>
