@use "_v3/calc" as calc;


$h: '' !default;

$init: (
        description-desktop-display: (media-query-up: (
                xs: none,
                lg: block,
        )),
        description-mobile-display: (media-query-up: (
                xs: block,
                lg: none,
        )),
        media-radius: 1rem,
        media-h: (media-query-up: (
                xs: 12.25rem,
                lg: 16.25rem,
        )),
        media-w: (media-query-up: (
                xs: 100%,
        )),
  //
        ratio-padding: 56.25%,
        card-horizontal-direction: ( media-query-up: (
                xs: column,
                md: row,
          )),
        card-horizontal-reverse-direction: ( media-query-up: (
                xs: column-reverse,
                md: row-reverse,
          )),
        font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                lg: var(--#{calc.$cb}font-size-125),
        )),
        title-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-125),
                lg: var(--#{calc.$cb}font-size-175),
        )),
        line-height: (media-query-up: (
                xs: var(--#{calc.$cb}line-height-base),
                lg: var(--#{calc.$cb}line-height-lg),
        )),
        // Horizontal layout
        horizontal-grid-template-areas: (media-query-up: (
            xs: ' "m" "c" ',
            lg: ' "m c" '
        )),
        horizontal-column-gap: (media-query-up: (
            xs: var(--#{calc.$cb}space-1200),
            lg: var(--#{calc.$cb}space-1200)
        )),
        horizontal-row-gap: (media-query-up: (
            xs: var(--#{calc.$cb}space-300)
        )),
        horizontal-media-w: (media-query-up: (
            xs: 100%,
            lg: 25rem
          )),
        horizontal-media-h: (media-query-up: (
            xs: 13.22rem,
            lg: 20rem,
            xl: 26.375rem
          )),
        horizontal-media-radius: (media-query-up: (
            xs: var(--#{calc.$cb}radius-2),
            lg: var(--#{calc.$cb}radius-4)
          )),
        horizontal-title-font-size: (media-query-up: (
            xs: var(--#{calc.$cb}font-size-150),
            lg: calc(var(--#{calc.$cb}font-size-base) * 2),
          )),
        horizontal-title-block-offset-y: (media-query-up: (
            xs: var(--#{calc.$cb}space-300),
            lg: var(--#{calc.$cb}space-400),
          )),
        horizontal-text-block-offset-y: (media-query-up: (
            xs: var(--#{calc.$cb}space-300),
            lg: var(--#{calc.$cb}space-900),
          )),
) !default;

:host {
  @include calc.css-initVars($init, $h);

  .#{calc.$card-class} {
    --#{calc.$cb}media-h: var(--#{$h}media-h);
    --#{calc.$cb}media-w: var(--#{$h}media-w);
    --#{calc.$cb}media-radius: var(--#{$h}media-radius);
    font-size: var(--#{$h}font-size);
    .title {
      font-size: var(--#{$h}title-font-size);
    }
  }

  .description {
    .desktop {
      display: var(--#{$h}description-desktop-display);
    }

    .mobile {
      display: var(--#{$h}description-mobile-display);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    &.horizontal {
      flex-direction: var(--#{$h}card-horizontal-direction);
    }

    &.vertical {
      flex-direction: column;
    }

    &.horizontal-reverse {
      flex-direction: var(--#{$h}card-horizontal-reverse-direction);
    }

    &.vertical-reverse {
      flex-direction: column-reverse;
    }
  }

  .media {
    &.media--vertical,
    &.media--vertical-reverse {
      max-width: 100% !important;
    }
  }

  .cb-card {
    display: flex;
    flex-direction: inherit;
    gap: var(--#{calc.$cb}space-300);
    flex: 1;

      &__header {
        flex: 0 0 auto;
        padding-bottom: 0;
      }

      &__body {
        flex: 1;
        padding-top: 0;
        display: flex;
        flex-direction: column;
      }

      @include calc.media-breakpoint-down(sm) {
        flex-direction: column;
        .cb-card__header, .cb-card__body {
          flex-basis: auto;
        }
      }
  }

  .block {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__content {
      flex: 1 1 auto;
    }

    &__ctrl {
      flex: 0 0 auto;
      margin-top: auto;
    }
  }

  .custom-ratio {
    width: 100%;
    height: initial;
    position: relative;
    padding-top: var(--#{$h}ratio-padding);

    &[class*="media--horizontal"][class*=" "] {
      padding-top: calc(var(--#{$h}ratio-padding) / 3);

      @include calc.media-breakpoint-down(sm) {
        padding-top: var(--#{$h}ratio-padding);
      }
    }

    picture, lilly-media-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  .card.horizontal {
     .cb-card {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr;
      grid-template-areas: var(--#{$h}horizontal-grid-template-areas);
      column-gap: var(--#{$h}horizontal-column-gap);
      row-gap: var(--#{$h}horizontal-row-gap);

      .cb-card__header {
        grid-area: m;
        padding-bottom: 0;
      }

      .cb-card__body {
        grid-area: c;
        padding-top: 0;
      }

      --#{calc.$cb}media-w: var(--#{$h}horizontal-media-w);
      --#{calc.$cb}media-h: var(--#{$h}horizontal-media-h);
      --#{calc.$cb}media-radius: var(--#{$h}horizontal-media-radius);

      @include calc.media-breakpoint-up(lg) {
        grid-template-columns: var(--#{$h}horizontal-media-w) 1fr;
      }
    }

    .block__title {
      margin-bottom: var(--#{$h}horizontal-title-block-offset-y);
    }

    .title {
      font-weight: var(--#{calc.$cb}font-weight-bold);
      font-family: var(--#{calc.$cb}font-sans-narrow);
      font-size: var(--#{$h}horizontal-title-font-size);
    }

    .block__text {
      margin-bottom: var(--#{$h}horizontal-text-block-offset-y);
    }
  }

  .card-link {
    font-weight: var(--#{calc.$cb}font-weight-bolder);
    text-decoration: underline;
    color: var(--#{calc.$cb}link-clr);
    cursor: pointer;
  }
}
