<div class="card {{cardWidgetFields.orientation}}">
<cb-card>
    <cb-card-header
            [ngStyle]="{
              'flex-basis': cardWidgetFields.orientation?.includes('vertical') ? '100%' :
                             (cardWidgetFields.maxImageWidth ? cardWidgetFields.maxImageWidth + '%' : '25%')
            }">

        @if (cardWidgetFields?.displayMedia === MediaContentType.IMAGE) {
            @if (cardWidgetFields.image?.fields?.file?.url) {
                <picture class="media {{'media--' + cardWidgetFields.orientation}}"
                         [ngStyle]="{ 'max-width': '100%' }">
                    @if (!cardWidgetFields?.useImageAsIcon) {
                        <source type="image/avif" [srcset]="cardWidgetFields.image.fields.file.url + '?fm=avif'"/>
                        <source type="image/webp" [srcset]="cardWidgetFields.image.fields.file.url + '?fm=webp'"/>
                    }
                    <img
                            class="img"
                            [ngClass]="{'img-icon': cardWidgetFields?.useImageAsIcon}"
                            [src]="cardWidgetFields.image.fields.file.url"
                            [alt]="cardWidgetFields?.altText || ''"
                            [attr.aria-hidden]="cardWidgetFields?.ariaHidden"
                            width="200"
                    />
                </picture>
            }
        }
        @else {
            <lilly-media-content class="media {{'media--' + cardWidgetFields.orientation}}"
                                 [ngStyle]="{ 'max-width': '100%' }"
                                 [mediaType]="cardWidgetFields?.displayMedia"
                                 [mediaId]="mediaId"
                                 [uiConfigId]="cardWidgetFields?.kalturaUiConfig?.fields.id"
                                 [subsiteName]="cmsAnalytics?.subsiteName"
                                 [title]="cardWidgetFields?.summary"
                                 [backgroundColor]="cardWidgetFields?.spotifyBackgroundColor"
                                 [videoConfig]="cardWidgetFields?.videoConfig">
            </lilly-media-content>
        }
    </cb-card-header>
    <cb-card-body>
        <div class="block block--sm">

            <div class="block__title">
                @if (sectionshowTitle) {
                    <h3 class="title"
                        [ngClass]="{'title-mobile-show': cardWidgetFields?.showSummaryInMobile}"
                        [innerHTML]="cardWidgetFields.summary | mdToHtml"></h3>
                } @else {
                    <h3
                            class="title"
                            [ngClass]="{'title-mobile-show': cardWidgetFields?.showSummaryInMobile}"
                            [innerHTML]="cardWidgetFields.summary | mdToHtml"></h3>
                }
            </div>
            <div class="block__text">
                <ng-container
                        [ngTemplateOutlet]="description"
                        [ngTemplateOutletContext]="{desktopDesc: cardWidgetFields?.flippable ? cardWidgetFields?.flipFrontContent : cardWidgetFields?.content,
                                      mobileDesc: cardWidgetFields?.flippable ? cardWidgetFields?.flipFrontContent : cardWidgetFields?.contentMobile}">
                </ng-container>
            </div>

            @if (cardWidgetFields?.buttonText && cardWidgetFields?.buttonLink) {
                <div class="block__ctrl">
                    @if (cardWidgetFields?.actionDisplayType === ActionDisplayType.Link) {
                        <a class="card-link"
                           [href]="helperService.prepareContentfulLink(cardWidgetFields?.buttonLink)"
                           (click)="goToLink(cardWidgetFields?.buttonLink, cardWidgetFields?.linkBehavior, $event)">
                            {{ cardWidgetFields?.buttonText }}
                        </a>
                    } @else {
                        <button mat-flat-button color="primary" class="mb-button-main" (click)="goToLink(cardWidgetFields?.buttonLink, cardWidgetFields?.linkBehavior)">
                            <div class="btn__grid">
                                <div>{{ cardWidgetFields?.buttonText }}</div>
                                <mat-icon [svgIcon]="'arrow_forward'" class="sm"></mat-icon>
                            </div>
                        </button>
                    }
                </div>
            }

        </div>

    </cb-card-body>
</cb-card>
</div>

<ng-template #description let-desktopDesc="desktopDesc" let-mobileDesc="mobileDesc">
    <div class="description" [attr.aria-hidden]="!flipContentToggle && cardWidgetFields?.flippable">
        <span class="desktop"
              [innerHTML]="desktopDesc | mdToHtml: {analytics: cmsAnalytics, elementRef: elementRef}"></span>
        <span
                class="mobile"
                [innerHTML]="mobileDesc || desktopDesc | mdToHtml: {analytics: cmsAnalytics, elementRef: elementRef}"
        ></span>
    </div>
</ng-template>
