<form [formGroup]="cookieSettings" (ngSubmit)="saveSettings()">
    <mat-dialog-content class="usa-cookies-body">
        <h2 class="title" i18n="@@usa-cookies-banner.settings.title">Manage Your Cookie Settings</h2>
        <hr>
        <p i18n="@@usa-cookies-banner.settings.description">
            For more information about Lilly's cookies, tracking technologies and third-party cookies, see our
            <a [routerLink]="ClientRoutes.CookieNotice" class="font-weight-bold"
               target="_blank">Cookie Notice</a>.
        </p>

        <div class="usa-cookies-body__block">
            <div class="checkbox-wrapper">
                <p class="font-weight-bold mb-0" i18n="@@usa-cookies-banner.settings.necessary-title">Strictly Necessary
                    Cookies</p>
                <div class="checkbox-on">
                    <p class="mb-0" i18n="@@usa-cookies-banner.settings.necessary-status">Always on</p>
                    <mat-icon class="success" svgIcon="check"></mat-icon>
                </div>
            </div>
            <p i18n="@@usa-cookies-banner.settings.necessary-description">
                These cookies are necessary for the website to function properly and cannot be switched off in our
                systems. Strictly necessary cookies cannot be disabled. For example, these cookies may enable us to
                optimize page
                and content loading, distribute and manage site traffic, detect bugs and errors and block malicious
                traffic
                and suspicious activity. In addition, these cookies may enable third party-supported features that you
                use,
                such as video players and chat tools, and other key site functionality, such as webforms.
            </p>
        </div>

        <div class="usa-cookies-body__block">
            <div class="checkbox-wrapper">
                <p class="font-weight-bold mb-0" i18n="@@usa-cookies-banner.settings.functional-title">Functional
                    Cookies</p>
                <div class="toggle-wrapper">
                    <span *ngIf="cookieSettings?.controls?.preferences?.value" i18n="@@usa-cookies-banner.settings.toggle-on">On</span>
                    <span *ngIf="!cookieSettings?.controls?.preferences?.value" i18n="@@usa-cookies-banner.settings.toggle-off">Off</span>
                    <mat-slide-toggle color="primary"
                                      (keydown.enter)="$event.preventDefault(); switchToggle('preferences')"
                                      formControlName="preferences"
                                      [aria-label]="ariaLabelFunctional">
                    </mat-slide-toggle>
                </div>
            </div>
            <p i18n="@@usa-cookies-banner.settings.functional-description">
                These cookies and similar technologies remember choices you make such as language or search parameters.
                We use these cookies to improve your user experience and to make your use of the websites more tailored.
                If you
                do not allow these cookies, then some or all of these services may not function as designed.
            </p>
        </div>

        <div class="usa-cookies-body__block">
            <div class="checkbox-wrapper">
                <p class="font-weight-bold mb-0" i18n="@@usa-cookies-banner.settings.performance-title">Performance
                    Cookies (Analytics)</p>
                <div class="toggle-wrapper">
                    <span *ngIf="cookieSettings?.controls?.statistics?.value" i18n="@@usa-cookies-banner.settings.toggle-on">On</span>
                    <span *ngIf="!cookieSettings?.controls?.statistics?.value" i18n="@@usa-cookies-banner.settings.toggle-off">Off</span>
                    <mat-slide-toggle color="primary"
                                      (keydown.enter)="$event.preventDefault(); switchToggle('statistics')"
                                      formControlName="statistics"  [aria-label]="ariaLabelPerformance">
                    </mat-slide-toggle>
                </div>
            </div>
            <p i18n="@@usa-cookies-banner.settings.performance-description">
                These cookies allow Lilly to analyze visits and traffic sources so we can measure and improve the
                performance of our sites. They help us to know which pages are the most and least popular, and see how
                visitors move
                around the site to improve the site's performance.
            </p>
        </div>

        <div class="usa-cookies-body__block">
            <div class="checkbox-wrapper">
                <p class="font-weight-bold mb-0" i18n="@@usa-cookies-banner.settings.advertising-title">Advertising and
                    Marketing Cookies</p>
                <div class="toggle-wrapper">
                    <span *ngIf="cookieSettings?.controls?.marketing?.value" i18n="@@usa-cookies-banner.settings.toggle-on">On</span>
                    <span *ngIf="!cookieSettings?.controls?.marketing?.value" i18n="@@usa-cookies-banner.settings.toggle-off">Off</span>
                    <mat-slide-toggle color="primary"
                                      (keydown.enter)="$event.preventDefault(); switchToggle('marketing')"
                                      [aria-label]="ariaLabelMarketing"
                                      formControlName="marketing">
                    </mat-slide-toggle>
                </div>
            </div>
            <p i18n="@@usa-cookies-banner.settings.advertising-description">
                These cookies and similar technologies enable our advertising and marketing partners to provide
                behavioral advertising and use functionalities like social media pixels to track your online activity
                across social
                platforms and websites, which can identify you, as described in the Privacy Statement and Consumer
                Health Privacy
                Notice. These methods create a profile of your activity for our business and commercial purposes and
                enable
                Lilly and our advertising partners to customize offers and information (online or in person) to you
                based on your
                profile, and profiles of persons with similar interests, that may enhance your interactions with Lilly.
            </p>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions class="md-dialog-action-confirm is-settings" align="center">
        <div class="mat-dialog-actions__1">
            <button mat-flat-button color="primary" class="md-btn-submit" type="submit"
                    data-cb-id="lW4ioR2SEi5s"
                    i18n="@@usa-cookies-banner.settings.save-button">
                Save settings
            </button>
            <button mat-flat-button type="button" color="primary" class="md-btn-submit" 
                    data-cb-id="1_T_B1y-AXyq"
                    (click)="close()"
                    i18n="@@usa-cookies-banner.settings.cancel-button">
                Cancel
            </button>
        </div>
    </mat-dialog-actions>
</form>
