<header class="header cb-max-view" id="lilly-header" header-height>
  <div class="container header__container">
    <div #menu class="header__grid theme--dark" [ngClass]="{'is-hidden': isFloatMenuOpen()}">

      <div class="header__brand">
        <div class="header__grid__item brand header__brand__logo">
          <lilly-content-logo-subject/>
        </div>
      </div>
      <div class="header__ctrl">
        <nav class="nav header__grid__item globe-menu" role="navigation">
<!--          <div class="show-mobile-only">-->
<!--            <button-->
<!--              mat-icon-button-->
<!--              class="nav__btn"-->
<!--            >-->
<!--              <mat-icon svgIcon="search"></mat-icon>-->
<!--            </button>-->
<!--          </div>-->

          <div class="show-desktop-only">
            <lilly-content-language-switcher [overlayContainer]="menu"
                                             (menuOpen)="isFloatMenuOpen.set($event)">
            </lilly-content-language-switcher>
          </div>
          <div class="show-mobile-only">
            <button
              #menuMobileTrigger="appOverlayTrigger"
              [appOverlayTrigger]="overlayMobileT"
              [mode]="'click'"
              [outsideClose]="'click-only'"
              [overlayClass]="['h-overlay','h-overlay--float', 'h-overlay--mobile', 'theme--dark']"
              aria-label="Menu"
              i18n-aria-label="@@header.menu"
              mat-icon-button
              class="nav__btn"
              (isOpenChange)="isFloatMobileMenuOpen.set($event)">
              <mat-icon svgIcon="menu"></mat-icon>
            </button>

          </div>
        </nav>
      </div>

    </div>
  </div>


  <ng-template #overlayMobileT>
    <div class="h-overlay__header">
      <ul class="menu menu--row menu--nav">
        <li>
          @if (!isSubMenuMobile()) {
            <a class="brand"
               [routerLink]="[ClientRoutes.Home]"
               routerLinkActive="home"
               [id]="startMenuId"
            >
              <lilly-content-logo-subject class="is-sm"/>
            </a>
          } @else {
            <a role="button" mat-icon-button
               class="nav__btn"
               (click)="toggleSubMenuMobile()"
            >
              <mat-icon svgIcon="arrow_back"></mat-icon>
            </a>
          }
        </li>
        <li>
          <a role="button" mat-icon-button
             class="nav__btn"
             (click)="toggleMenuMobile()"
          >
            <mat-icon svgIcon="close"></mat-icon>
          </a>
        </li>

      </ul>
    </div>
    <div class="h-overlay__content">
      <div class="h-overlay__content__1">
        <ng-container [ngTemplateOutlet]="menuMobileT"></ng-container>
      </div>

    </div>

  </ng-template>

  <ng-template #menuMobileT>
    @if (!isSubMenuMobile()) {
      <ul class="menu menu--level-1">
        <div>
          <ng-container [ngTemplateOutlet]="languageSelectorMobileT"></ng-container>
        </div>
      </ul>
    }
    <div>
      <ng-container [ngTemplateOutlet]="subMenuMobileT"
                    [ngTemplateOutletContext]="{ menuT: LangMenu, titleT: LangTitleMenu, ID: 'tabMobile-'+ langMobileNumId, class: 'block--lang' }"></ng-container>
    </div>
  </ng-template>

  <ng-template #subMenuMobileT
               let-menuT="menuT"
               let-title="title"
               let-titleT="titleT"
               let-subTitle="subTitle"
               let-ID="ID"
               let-class="class"
  >
    @if ((isMobileActive(ID) && ID) || false) {
      <div class="block block--submenu block--sm" [ngClass]="class">
        <div class="block__header">
          <div class="block block-xs">
            <div class="block__title">
              <h4 class="title">
                @if (title) {
                  {{ title }}
                } @else {
                  <ng-container [ngTemplateOutlet]="titleT"></ng-container>
                }
              </h4>
            </div>
            @if (subTitle) {
              <div class="block__text">
                {{ subTitle }}
              </div>
            }
          </div>
        </div>
        <div class="block__content">
          @if (menuT) {
            <ng-container [ngTemplateOutlet]="menuT"></ng-container>
          }
        </div>
      </div>
    }

  </ng-template>

  <ng-template #languageSelectorMobileT>
    <li>
      <a role="button" class="btn--link btn--link--lang" mat-button
         [id]="'menuMobile-'+ langMobileNumId"
         (click)="onMenuMobile($event)"
      >
        <mat-icon svgIcon="network" class="lang-thumb"></mat-icon>
        {{ languageService?.selected?.label }}
      </a>
    </li>

  </ng-template>
  <ng-template #LangTitleMenu>
    <div i18n="@@language-switcher.select_your_country">Select your country or region</div>
  </ng-template>
  <ng-template #LangMenu>
    <ul class="menu menu--lang">
      @for (item of languageService.languages; track item) {
        <a role="button" class="btn--link" mat-button
           (click)="setLanguage(item); $event.preventDefault()"
           [href]="item?.link"
           [attr.aria-label]="'Language ' + item?.label" itemprop="url"
           [ngClass]="{'is-active': item === languageService.selected }">
          {{ item?.label }}
        </a>
      }
    </ul>
  </ng-template>


</header>

<ng-template #menuDesktopT>

  <div class="h-overlay__header">
    <ul class="menu menu--row menu--nav">
      <li>
        <a class="brand"
           [routerLink]="[ClientRoutes.Home]"
           routerLinkActive="home"
           [id]="startMenuId"
           (mouseenter)="onMenuHover($event)"
        >
          <lilly-content-logo-subject/>
        </a>
      </li>
    </ul>
  </div>

  <div class="h-overlay__content">
    <ng-container [ngTemplateOutlet]="subMenuDesktopT"
                  [ngTemplateOutletContext]="{ title: 'Lilly Trials', subTitle: 'We\'re a medicine company turning science into healing for people around the world.', ID: startTabId }"></ng-container>
  </div>
  <ng-template #subMenuDesktopT
               let-menuItem="menuItem"
               let-title="title"
               let-titleT="titleT"
               let-subTitle="subTitle"
               let-ID="ID">

    @if (isActive(ID) && ID) {
      <div class="h-overlay__content__grid block is-grid" [id]="ID">
        <div class="block__header">
          <div class="block block-xs">
            <div class="block__title">
              <h4 class="title h2-garamond-heading">
                <i>
                  @if (title) {
                    {{ title }}
                  } @else {
                    <ng-container [ngTemplateOutlet]="titleT"></ng-container>
                  }
                </i>
              </h4>
            </div>
          </div>
          <div class="block__text">
            {{ subTitle }}
          </div>
        </div>
      </div>
    }
  </ng-template>
</ng-template>
