<container-wrapper>
  <cb-card class="card--cover theme--dark">
    <cb-card-body class="">

      <div class="block block--lg">
        <div class="block__label">
          {{ imageCoverBlockFields()?.label }}
        </div>

        <div class="block__title theme--dark">
          <h2 class="title">{{ imageCoverBlockFields()?.heading }}</h2>
        </div>
      </div>
      <div class="media">
        <img [src]="imageCoverBlockFields()?.background?.fields?.file?.url"
             [alt]="imageCoverBlockFields()?.altText">
      </div>
    </cb-card-body>

  </cb-card>
</container-wrapper>
