@use "../global-vars" as vars;
@use "../css-vars" as css;

//promo card
@mixin md-card-promo-layout() {
}

@mixin md-card-promo-thumb($thumb-width) {
}

@mixin md-card-promo-strip() {

}

@mixin trials-cards(
  $h: 'trials-card-',
  $db: lg,
  $card-offset-y: (media-query-up: (
        xs: var(--#{vars.$cb}space-300),
        sm: var(--#{vars.$cb}space-400),
        lg: var(--#{vars.$cb}space-500),
        )),
  $lg-offset-y: (media-query-up: (
        xs: var(--#{vars.$cb}space-500),
        #{$db}: var(--#{vars.$cb}space-600),
))
) {
  $init: (
          card-offset-y: $card-offset-y,
          lg-offset-y: $lg-offset-y,
  ) !default;
  @include css.initVars($init, $h);
  .md-card-result {
    padding-bottom: var(--#{$h}card-offset-y);
    border-bottom: 1px solid var(--#{vars.$cb}divider);
  }

  & > * {
    display: block;

    &:not(:nth-child(1)):not(:nth-child(2)):not(.cb-filter-counts):not(&#alertme-banner), &:not(&#alertme-banner) {
      margin-top: var(--#{$h}card-offset-y);
    }

    //&#alertme-banner {
    //}

    .md-card-promo, .md-card-promo-strip, .add__more_trials {
      margin: var(--#{$h}lg-offset-y) 0;
    }
  }
}

@mixin md-card-promo--custom(
  $h: 'card-pro--custom--',
) {
  $init: (
          title-font-size: (media-query-up: (
                  xs: var(--#{vars.$cb}font-size-225),
                  lg: 3rem,
          )),
          description-max-width: (media-query-up: (
                  xs: 100%,
                  lg: 85%,
          )),
          description-desktop-display: (
                  media-query-up: (
                          xs: none,
                          md: block,
                  )
          ),
          description-mobile-display: (
                  media-query-up: (
                          xs: block,
                          md: none,
                  )
          ),
  ) !default;
  @include css.initVars($init, $h);
  @include md-card-promo();
  .title {
    font-size: var(--#{$h}title-font-size);
  }

  .block__text {
    line-height: 1.5rem;
    max-width: var(--#{$h}description-max-width);
    margin: 0 auto;
  }
  .description {
    .desktop {
      display: var(--#{$h}description-desktop-display);
    }

    .mobile {
      display: var(--#{$h}description-mobile-display);
    }
  }
}

@mixin md-card-promo(
  $h: 'card-pro-',
  $bg: var(--#{vars.$color}palette-red-010),
  $fg: var(--#{vars.$color}neutral-base-105),
  $thumb-width: 25%,
) {

  $init: (
          padding-y: (media-query-up: (
                  xs: var(--#{vars.$cb}space-700),
                  lg: var(--#{vars.$cb}space-800),
          )),
          padding-x: (media-query-up: (
                  xs: var(--#{vars.$cb}space-200),
                  lg: var(--#{vars.$cb}space-900),
                  xl: var(--#{vars.$cb}space-1200),
          )),
          radius: (media-query-up: (
                  xs: var(--#{vars.$cb}radius-4),
                  lg: var(--#{vars.$cb}radius-8),
          )),
          font-size: (media-query-up: (
                  xs: var(--#{vars.$cb}font-size-xs),
                  sm: var(--#{vars.$cb}font-size-sm),
                  lg: var(--#{vars.$cb}font-size-base),
          )),
          body-max-width: 40.5rem,
          bg: #{$bg},
          fg: #{$fg},
  ) !default;

  @include css.initVars($init, $h);
  --#{vars.$card}bg: var(--#{$h}bg);
  --#{vars.$card}fg: var(--#{$h}fg);
  --#{vars.$card}padding-x: var(--#{$h}padding-x);
  --#{vars.$card}padding-y: var(--#{$h}padding-y);
  --#{vars.$card}radius: var(--#{$h}radius);
  --#{vars.$card}display: flex;
  --#{vars.$cb}block-text-align: center;
  --#{vars.$cb}block-offset-y: 0;
  font-size: var(--#{$h}font-size);
  justify-content: center;
  .#{vars.$card-class}__body {
    max-width: var(--#{vars.$card}body-max-width);

    .block__title {
      margin-bottom: var(--#{vars.$cb}space-150);
    }

    .block__ctrl {
      margin-top: var(--#{vars.$cb}space-300);
    }
  }

}
