@use "_v3/calc" as calc;

$h: '' !default;
$init: (
  area-media-h: (media-query-up: (
    xs: 15.88506rem,
    lg: 20.5625rem,
  ))
) !default;

:host {
  @include calc.css-initVars($init, $h);

  ::ng-deep {
    .accordion.mat-expansion-panel .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        > div > p {
          display: block;
        }
      }
    }

    .widget--image-tile {
      --#{calc.$widget--image-tile}block--area-media-h: var(--#{$h}area-media-h);
    }
  }
}
