@use '_v3/calc' as calc;
@use '_v3/modules/layouts/cst-calc' as intro;

$selector: cst--support;
$c: sup-;
$h: '';

@include intro.cst-configure(
        $class-name: #{$selector},
        $h: #{$c},
        $overlay-under-header: false,
        $background-clr: transparent,
        $media-grid-row: auto,
        $template-areas: (media-query-up: (
                xs: ' "#{calc.templateRow((4, "m"))}""#{calc.templateRow((4, "in"))}" ',
                md: ' "#{calc.templateRow((8, "m"))}"  "#{calc.templateRow((8, "in"))}" ',
                lg: ' "#{calc.templateRow((12, "m"))}" "#{calc.templateRow((12, "in"))}"',
        )),
        $content-template-areas: (media-query-up: (
                xs: ' "#{calc.templateRow((4, "b"))}" ',
                md: ' "#{calc.templateRow((8, "b"))}" ',
                lg: ' "#{calc.templateRow((12, "b"))}" ',
                xl: ' "#{calc.templateRow((1, "0", 10, "b"))}" ',
        )),
        $cst-media-h: var(--#{$c}media-h),
        $media-h: (media-query-up: (
                xs: 61.1875rem,
                lg: 61.1875rem,
        )),
        $media__overlay-bg_clr: 'linear-gradient(0deg, rgba(var(--#{calc.$cb}body-bg-clr-rgb), 1) 9.1%, rgba(var(--#{calc.$cb}body-bg-clr-rgb), 0) 46.51%)',
);

$init: (
        overlay-cof: (media-query-up: (
                xs: 0.8,
                lg: 0.55,
                xl: 0.5,
        )),
        container-offset-x: (media-query-up: (
                xs: var(--#{calc.$cb}container-margin),
                //xl: 0,
        )),
        container-offset-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-600),
                lg: var(--#{calc.$cb}space-1200),
        )),
        container-radius: (media-query-up: (
                xs: var(--#{calc.$cb}radius-2),
                lg: var(--#{calc.$cb}radius-4),
        )),
        font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                lg: var(--#{calc.$cb}font-size-120),
        )),
        title-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}h2),
                lg: var(--#{calc.$cb}font-size-350),
        )),
        support-cols: (media-query-up: (
                xs: 1fr,
                lg: repeat(3, 1fr),
        )),
        support-max-width-cols: (media-query-up: (
                xs: 100%,
                lg: 26.375rem,
        )),
        support-email-font-weight: (media-query-up: (
                xs: var(--#{calc.$cb}font-weight-bold),
                lg: var(--#{calc.$cb}font-weight-normal),
        )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
}

:host ::ng-deep {
  display: block;
  margin-top: var(--#{calc.$cb}cst-offset-y);
  .#{$selector} {

    .cst__content {
      position: relative;
      margin-top: calc(var(--#{$c}media-h) * var(--#{$h}overlay-cof) * -1);
      min-height: calc(var(--#{$c}media-h) * var(--#{$h}overlay-cof));

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: var(--#{calc.$cb}container-margin);
        right: var(--#{calc.$cb}container-margin);
        background-color: rgba(var(--#{calc.$cb}body-bg-clr-rgb), 1);
        border-radius: var(--#{$h}container-radius) var(--#{$h}container-radius) 0 0;
        z-index: 0;
      }

      & > * {
        z-index: 1;
        padding: var(--#{$h}container-offset-y) var(--#{$h}container-offset-x) var(--#{calc.$cb}cst-offset-y) var(--#{$h}container-offset-x);

      }

      .block--support {
        grid-template-columns: var(--#{$h}support-cols);
        align-items: start;
        font-size: var(--#{$h}font-size);
        column-gap: var(--#{calc.$cb}grid-column-gap);

        & > *:first-child {
          max-width: var(--#{$h}support-max-width-cols);
        }

        &__item {
          .mat-icon {
            color: var(--#{calc.$color}neutral-base-070);
            --icon-size: var(--#{calc.$cb}icon-lg);
          }

          .title {
            font-weight: var(--#{calc.$cb}font-weight-bold);
            font-family: var(--#{calc.$cb}font-sans-narrow);
          }

          .block__text {
            font-size: var(--#{calc.$cb}font-size-125);
          }
        }

        .support-link {
          font-weight: var(--#{$h}support-email-font-weight);
        }
      }

      .block--main {
        > .block__title {
          .title {
            text-transform: uppercase;
            margin-bottom: 0;
            font-weight: var(--#{calc.$cb}font-weight-bold);
            font-size: var(--#{$h}title-font-size);
            font-family: var(--#{calc.$cb}font-sans-narrow);
          }

          .subtitle {
            font-style: italic;
          }
        }
        .block__subtitle {
          font-family: var(--#{calc.$cb}font-sans-extra-wide);
          font-weight: var(--#{calc.$cb}font-weight-middle);
        }
      }

    }
  }

  .cst--support .cst__media .media__bg {
    opacity: 1;
  }
}
