<button mat-button
        [matMenuTriggerFor]="menu"
        class="md-main-btn d-print-none"
        (menuOpened)="setAndRemoveFocus()"
        aria-haspopup="true"
>
    <div class="row g-1 align-items-center">
        <div class="col min-width-0" [title]="title">{{title}}</div>
        <div class="col-auto">
            <div class="thumb--arrow"></div>
        </div>
    </div>
</button>

<mat-menu #menu="matMenu" xPosition="before" class="md-menu-header md-menu-header-1">
    @for (item of menuItems; track item) {
        @if (item.hrefMenuTarget=== 'internal' && item.subMenu.length > 0) {
            <div class="md-trigger-menu-fx">
                <button mat-menu-item class="md-sub-btn is-hidden" #menuTrigger="matMenuTrigger"
                        [matMenuTriggerFor]="nestedMenuT" disabled [attr.aria-label]="item.label"></button>
                <button mat-menu-item
                        class="md-sub-btn"
                        (click)="$event.stopPropagation(); toggleNextMenu(menuTrigger, item); $event.preventDefault()"
                        [attr.aria-label]="item.label"
                        aria-haspopup="true"
                        #focusItem
                        [id]="getMenuID(item.label)"
                        (mouseover)="removeFocus()"
                > 
                    <a [href]="item.link" class="menu-link">
                        <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: item, showArrow: true}"></ng-container>
                    </a>
                </button>
            </div>
            <mat-menu #nestedMenuT="matMenu" xPosition="after" class="md-menu-header md-menu-header-2" (closed)="setFocus()">
                @for (subItem of item.subMenu; track subItem) {
                    <button mat-menu-item
                            class="md-sub-btn sub-menu"
                            (click)="browseCategory.navigateToCriteria(subItem, true, referrer); $event.preventDefault()"
                            itemprop="url"
                            routerLinkActive="is-active"
                            [routerLinkActiveOptions]="{exact:true}"
                            [attr.aria-label]="subItem.label"
                            [id]="getMenuID(subItem.label)"
                            [deepGtmTrigger]="subItem.gtmId"
                            (mouseover)="removeSubMenuFocus(item)"
                            #focusSubItem
                    >
                        <a [routerLink]="subItem.link" class="menu-link">
                            <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: subItem}"></ng-container>
                        </a>
                    </button>
                }
            </mat-menu>
        }
        @if (item.hrefMenuTarget === 'external') {
            <button mat-menu-item class="md-sub-btn"
                    (click)="browseCategory.navigateToCriteria(item, true, referrer); $event.preventDefault()"
                    itemprop="url"
                    routerLinkActive="is-active"
                    [routerLinkActiveOptions]="{exact:true}"
                    [attr.aria-label]="item.label"
                    tabindex="0"
                    #focusItem
                    [id]="getMenuID(item.label)"
                    [deepGtmTrigger]="item.gtmId"
                    (mouseover)="removeFocus()"
            >
                <a [routerLink]="item.link" class="menu-link">
                    <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: item}"></ng-container>
                </a>
            </button>
        }
    }
</mat-menu>
