<div class="block is-grid block--involved">
    @for (item of widgetFields?.clinicalTrialEssentialsFields; track item) {
        <div class="block--involved__item">
            <div class="block block--sm">
                <div class="block block--xs">
                    <div class="involved-icon">
                        <img [src]="item?.fields?.icon?.fields?.file?.url"
                             [alt]="item?.fields?.altText || ''">
                    </div>

                    <div class="block__title">
                        <h3 class="title">{{ item?.fields?.title }}</h3>
                    </div>
                </div>
                <div class="block__text" [innerHTML]="item?.fields?.text | mdToHtml"></div>
            </div>
        </div>
    }
</div>
