@use '_v3/calc' as calc;

$h: '';


$init: (

        font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                lg: var(--#{calc.$cb}font-size-120),
        )),
        block--xs-offset-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-100),
                lg: var(--#{calc.$cb}space-200),
        )),
        involved-cols: (media-query-up: (
                xs: 1fr,
                lg: repeat(2, 1fr),
        )),
        involved-gap-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-800),
                lg: var(--#{calc.$cb}space-600),
        )),
        involved-max-width-cols: (media-query-up: (
                xs: 100%,
                lg: 26.375rem,
        )),
        involved-email-font-weight: (media-query-up: (
                xs: var(--#{calc.$cb}font-weight-bold),
                lg: var(--#{calc.$cb}font-weight-normal),
        )),
        involved-icon-size: (media-query-up: (
                xs: 2rem,
                lg: 3rem,
        )),
        involved-icon-offset-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-200),
                lg: var(--#{calc.$cb}space-300),
        )),
        title-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-125),
                lg: var(--#{calc.$cb}font-size-150),
        )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
}

:host ::ng-deep {
  .block--involved {
    grid-template-columns: var(--#{$h}involved-cols);
    align-items: start;
    font-size: var(--#{$h}font-size);
    column-gap: calc(var(--#{calc.$cb}grid-column-gap) * 2);
    row-gap: var(--#{calc.$cb}space-600);

    & > *:first-child {
      max-width: var(--#{$h}involved-max-width-cols);
    }

    &__item {
      @include calc.media-breakpoint-down(sm) {
        &:nth-child(1),
        &:nth-child(3) {
          margin-bottom: var(--#{calc.$cb}space-200);
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }

      .title {
        font-size: var(--#{$h}title-size);
      }

      .block--xs {
        margin-bottom: var(--#{$h}block--xs-offset-y);
      }
      
      .involved-icon {
        --icon-size: var(--#{$h}involved-icon-size);
        margin-bottom: var(--#{calc.$cb}space-200);

        img {
          width: var(--icon-size);
          height: var(--icon-size);
          object-fit: contain;
          display: block;
        }
      }
    }

    .involved-email {
      font-weight: var(--#{$h}involved-email-font-weight);
    }
  }

  .block__text {
    font-size: var(--#{calc.$cb}font-size-base);
  }


}
