<button mat-button class="md-main-btn d-print-none" (click)="toggleSubMenu()">
    <div class="row g-0 align-items-center">
        <div class="col min-width-0" [title]="title">
            {{title}}
        </div>
        <div class="col-auto">
            <div class="thumb--arrow is-dir-side"></div>
        </div>
    </div>
</button>

<nav class="cb-submenu-mob" [ngClass]="{'showed': !isSubMenuCollapsed}">
    <div class="container">
        <div class="mb-0">
            <div class="row g-0 mb-1">
                <div class="col-auto">
                    <button mat-button class="md-btn-link md-link" (click)="toggleSubMenu()" disableRipple>
                        <div class="row g-1 align-items-center">
                            <div class="col-auto">
                                <mat-icon svgIcon="keyboard_backspace"></mat-icon>
                            </div>
                            <div class="col" i18n="@@header.button.back">
                                Back
                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div>
                <h5 class="title-submenu font-weight-bold" [title]="title">
                    {{title}}
                </h5>
            </div>
        </div>

        <div class="wrap-in-1">
            <mat-divider></mat-divider>
            <mat-accordion>
                @for (item of menuItems; track item) {
                    @if (item.hrefMenuTarget=== 'internal' && item.subMenu.length > 0) {
                        <mat-expansion-panel>
                            <mat-expansion-panel-header (click)="$event.stopPropagation()">
                                <div class="row g-0 align-items-center">
                                    <div class="col min-width-0">
                                        <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: item}"></ng-container>
                                    </div>
                                    <div class="col-auto">
                                        <div class="thumb--arrow"></div>
                                    </div>
                                </div>
                            </mat-expansion-panel-header>
                            @for (subItem of item.subMenu; track subItem) {
                                <button mat-menu-item class="md-sub-btn"
                                        (click)="browseCategory.navigateToCriteria(subItem, true, referrer); $event.preventDefault()"
                                        itemprop="url"
                                        routerLinkActive="is-active"
                                        [routerLinkActiveOptions]="{exact:true}"
                                        [deepGtmTrigger]="subItem.gtmId"
                                >
                                    <a [routerLink]="subItem.link"  class="menu-link">
                                        <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: subItem}"></ng-container>
                                    </a>
                                </button>
                            }
                        </mat-expansion-panel>
                    }
                    @if (item.hrefMenuTarget === 'external') {
                        <button mat-menu-item class="md-sub-btn"
                                (click)="browseCategory.navigateToCriteria(item, true, referrer); $event.preventDefault()"
                                itemprop="url"
                                routerLinkActive="is-active"
                                [routerLinkActiveOptions]="{exact:true}"
                                [deepGtmTrigger]="item.gtmId"
                        >
                            <a [routerLink]="item.link" class="menu-link">
                                <ng-container *ngTemplateOutlet="subMenuButtonContentT; context: {item: item}"></ng-container>
                            </a>
                        </button>
                    }
                    <mat-divider></mat-divider>
                }
            </mat-accordion>
        </div>
    </div>
</nav>
