@use "_v3/calc" as calc;
$h: '' !default;

$init: (
        articles-grid-columns: (media-query-up: (
                xs: 1fr,
                md: repeat(2, 1fr),
        )),
        articles-gap-x: (media-query-up: (
                xs: var(--#{calc.$cb}space-300),
                lg: var(--#{calc.$cb}space-400),
        )),
        articles-gap-y: (media-query-up: (
                xs: var(--#{calc.$cb}cst-in-custom-margin-y),
        )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
  display: block;
  ::ng-deep {
    .articles {
      display: grid;
      grid-template-columns: var(--#{$h}articles-grid-columns);
      gap: var(--#{$h}articles-gap-y) var(--#{$h}articles-gap-x);
      >* {
        min-width: 0;
        display: grid;
      }
    }

    .breadcrumbs-wrapper {
      margin-top: var(--#{calc.$cb}cst-offset-y);
    }
  }
}

::ng-deep {
  .blur-bckg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.178);
  }

  .share-btns-mob{
    position: sticky;
    bottom: 105px;
    z-index: 2;
    ::ng-deep{
      .soc-network{
        text-align: right;
      }
    }
  }
}

::ng-deep{
  .tooltip {
    @include calc.tooltip-max-width();
  }
}
