@use '_v3/calc' as calc;
@use '_v3/modules/layouts/cst-calc' as intro;

@include intro.cst-configure(
        $class-name: #{calc.$cst--intro-class},
        $h: #{calc.$cst--intro-prefix},
        $block-text-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                md: var(--#{calc.$cb}font-size-lg),
        )),
);
:host ::ng-deep {
  .#{calc.$cst--intro-class} {
    @media screen and (min-width: map-get(calc.$grid-breakpoints, xl)) and (min-height: map-get(calc.$height-breakpoints, xl)) {
      --#{calc.$cst--intro-prefix}min-height: 44.25rem;
    }
    @media screen and (min-width: map-get(calc.$grid-breakpoints, xl)) and (min-height: map-get(calc.$height-breakpoints, xxl)) {
      --#{calc.$cst--intro-prefix}min-height: 56.25rem;
    }


    .cb-filter-gridR {
      display: grid;
      gap: var(--#{calc.$cb}block-offset-sm-y);
    }

  }


}

.scroll-down {
  display: flex;
  justify-content: end;
  z-index: 1;
  rotate: 180deg;
  color: white;

  .arrow-down {
    --icon-size: var(--#{calc.$cb}icon-lg);
  }
}
