<cb-card class="article" role="button" tabindex="0" (click)="goToLink(article())">
  <div class="media">
    <img
      [src]="article()?.fields?.image?.fields?.file?.url"
      [alt]="article()?.fields?.altText || ''"
      loading="lazy"
      decoding="async"
    />
  </div>
  <cb-card-body class="block block--lg">
    <div class="block__content">
      <div class="block__label">{{ article()?.fields?.label }}</div>
      <div class="block__title">
        <h3 class="title">{{ article()?.fields?.title }}</h3>
      </div>
    </div>
    @if (article()?.fields?.categories?.length > 0) {
      <div class="block__categories">
        @for (category of article()?.fields?.categories; track $index) {
          <cb-tag class="chip" [filled]="true">{{ category }}</cb-tag>
        }
      </div>
    }
  </cb-card-body>
</cb-card>



