@if (resourceFields.display) {
  <div class="block is-grid block--resource">
    <div class="block__media">
      <picture class="media">
        <source type="image/avif" [srcset]="resourceFields?.image?.fields?.file?.url + '?fm=avif'"/>
        <source type="image/webp" [srcset]="resourceFields?.image?.fields?.file?.url + '?fm=webp'"/>
        <img [src]="resourceFields?.image?.fields?.file?.url"
             [alt]="resourceFields?.altText || ''"
             loading="lazy"
             decoding="async"/>
      </picture>
    </div>
    <div class="block__content">
        <div class="block__title">
      <h3 class="title">{{ resourceFields?.heading }}</h3>
        </div>
      <div class="block__text description" [innerHTML]="resourceFields?.body | mdToHtml"></div>
      @if (resourceFields?.link?.fields && resourceFields?.link?.fields?.text) {
        <button mat-stroked-button color="primary" (click)="onLinkClick()">
          <div class="btn__grid">
            <div>{{ resourceFields?.link?.fields?.text }}</div>
            <mat-icon svgIcon="arrow_forward" aria-hidden="true"></mat-icon>
          </div>
        </button>
      }
    </div>
  </div>
}
