@switch (type) {
    @case ('facebook') {
        <a role="button" mat-icon-button [href]="navUrl" cbgtmevent="socialShareFacebook" [attr.aria-label]="type">
            <mat-icon (click)="share()" cbgtmevent="socialShareFacebook" class="icon" [svgIcon]="type"></mat-icon>
        </a>
    }
    @case ('linkedin') {
        <a role="button" mat-icon-button [href]="navUrl" cbgtmevent="socialShareLinkedin" [attr.aria-label]="type">
            <mat-icon (click)="share()" cbgtmevent="socialShareLinkedin" class="icon" [svgIcon]="type"></mat-icon>
        </a>
    }
    @case ('print') {
        <a role="button" mat-icon-button href="" role="button" (click)="$event.preventDefault(); printPage()" [attr.aria-label]="type">
            <mat-icon class="icon" [svgIcon]="'print_outline'"></mat-icon>
        </a>
    }
    @case ('mail') {
        <a role="button" mat-icon-button [href]="shareUrl" (click)="sendEmail()" [attr.aria-label]="type">
            <mat-icon class="icon" svgIcon="email_outline"></mat-icon>
        </a>
    }
}
