<div class="cst">
  <div class="cst__grid is-narrow">
    <div class="cst__grid__in">
      <div class="block">
        <div class="block__title">
          <p class="font-size-sm font-weight-bold">{{ fields()?.label }}</p>
          <h2 class="h2-garamond-heading">{{ fields()?.heading }}</h2>
        </div>

        @if (fields()?.topButton?.fields) {
          <div class="block__action block__action--top">
            <button mat-flat-button color="primary" (click)="goToLink(fields()?.topButton)">
              <div class="btn__grid">
                <div>{{ fields()?.topButton?.fields?.text }}</div>
                <mat-icon svgIcon="arrow-right"></mat-icon>
              </div>
            </button>
          </div>
        }

        <div class="articles__list">
          @for (article of fields()?.articlesList; track article?.sys?.id) {
            <lilly-content-article [article]="article"></lilly-content-article>
          }
        </div>

        @if (fields()?.bottomButton?.fields) {
          <div class="block__action block__action--bottom">
            <button mat-flat-button color="primary" (click)="goToLink(fields()?.bottomButton)">
              <div class="btn__grid">
                <div>{{ fields()?.bottomButton?.fields?.text }}</div>
                <mat-icon svgIcon="arrow-right"></mat-icon>
              </div>
            </button>
          </div>
        }
      </div>
    </div>
  </div>
</div>



