@if (!isMobile) {
  <div class="soc-network" [ngClass]="position === 'horizontal' ? 'soc-network-horiz' : 'soc-network'">

    <lilly-share-button type='mail' class="icon" [article]="article" [shareUrl]="shareUrl">
    </lilly-share-button>

    <lilly-share-button type='print' *ngIf="hasPrint" [article]="article" class="icon" [shareUrl]="shareUrl">
    </lilly-share-button>

    <lilly-share-button type='facebook' *hideForRegions="[Language.en_CA, Language.fr_CA]" cbgtmevent="socialShareFacebook" class="icon" [article]="article" [shareUrl]="shareUrl">
    </lilly-share-button>
    <lilly-share-button type='linkedin' *hideForRegions="[Language.en_CA, Language.fr_CA]" cbgtmevent="socialShareLinkedin" class="icon" [article]="article" [shareUrl]="shareUrl">
    </lilly-share-button>

  </div>
}
@else {


    @if (isOpen) {
      <div class="soc-network">
        <span class="circle-sm">
          <lilly-share-button type='mail' [article]="article" class="icon-mob">
          </lilly-share-button>
        </span>

        <span class="circle-sm">
          <lilly-share-button type='linkedin' *hideForRegions="[Language.en_CA, Language.fr_CA]" cbgtmevent="socialShareLinkedin" class="icon-mob" [article]="article" [shareUrl]="shareUrl">
          </lilly-share-button>
        </span>

        <span class="circle-sm">
          <lilly-share-button type='facebook' *hideForRegions="[Language.en_CA, Language.fr_CA]" cbgtmevent="socialShareFacebook" class="icon-mob" [article]="article" [shareUrl]="shareUrl">
          </lilly-share-button>
        </span>
      </div>
    }

    <span class="circle" [ngStyle]="isOpen && { 'background-color': 'red'}">
      <mat-icon (click)="openClose()" [ngClass]="isOpen ? 'share-icon-closed' : 'share-icon-opened'" [svgIcon]="isOpen ? 'close' : 'share'">
      </mat-icon>
    </span>

}
