@use "_v3/calc" as calc;

:host {
  ::ng-deep {
    p,
    h1,
    h2,
    h3,
    h4 {
      &:not(.title) {
        & + br {
          display: none;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

      .accordion-widget {
        .mat-expansion-panel {
          .mat-expansion-panel-header {
            .mat-content {
              .mat-expansion-panel-header-title {
                > div {
                  > div {
                    margin: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }

  &.blog-section {
    padding: 0 0 var(--#{calc.$cb}space-200);

    .title-container {
      align-self: start;

      h2 {
        padding: var(--#{calc.$cb}space-100) 0;
      }
    }
  }

  .widget-container {
    lilly-content-image-tile-widget + lilly-content-image-tile-widget {
      display: block;
      border-top: 1px solid var(--#{calc.$color}palette-red-030);
      margin-top: var(--#{calc.$cb}cst-in-margin-y);
      padding-top: var(--#{calc.$cb}cst-in-margin-y);
    }

    lilly-accordion-widget + lilly-accordion-widget {
      margin-top: 0 !important;
    }
  }

  @include calc.media-breakpoint-up(lg) {
    &.has-sidemenu {
      background-color: var(--#{calc.$cb}white) !important;
    }
  }

  @include calc.media-breakpoint-down(lg) {
    .section-cont {
      h2 {
        padding: 2rem 0 1.5rem;
      }

      &.blog-section {
        .title-container {
          h2 {
            padding: 0.25rem 0;
          }
        }
      }
    }
  }
}
