<header class="header cb-max-view" id="lilly-header" header-height
        [ngClass]="{'has-long-strings': checkLongStringLanguage(languageService.selected.key, languageService.longStringLanguages) }">
    <div class="container header__container">
        <div #menu class="header__grid theme--dark" [ngClass]="{'is-hidden': isFloatMenuOpen}">

            <div class="header__brand">
                <a class="header__grid__item brand header__brand__logo"
                   [routerLink]="[ClientRoutes.Home]"
                   routerLinkActive="home">
                    <app-logo-subject text="Trials"/>
                </a>
                <div class="show-desktop-only">
                    <nav class="nav header__grid__item" role="navigation">
                        <button aria-label="Expand menu" i18n-aria-label="@@header.expand_menu" mat-icon-button
                                class="nav__btn" (click)="toggleHeaderMenu()">
                            <mat-icon svgIcon="menu"></mat-icon>
                        </button>
                    </nav>
                </div>
                <div #menuTrigger="appOverlayTrigger"
                     [appOverlayTrigger]="menuDesktopT"
                     [mode]="'both'"
                     [outsideClose]="'hover-or-click'"
                     [overlayContainer]="menu"
                     [overlayClass]="['h-overlay','h-overlay--float','h-overlay--desk', 'theme--dark']"
                     (isOpenChange)="isFloatMenuOpen = $event"
                     class="show-desktop-only dummy-trigger-menu">

                </div>
            </div>
            <div class="header__ctrl">
                <nav class="nav header__grid__item globe-menu" role="navigation">
                    <div class="show-desktop-only" *hideForRegions="[Language.ja_JP]">
                      <lilly-language-switcher [overlayContainer]="menu"
                                               (menuOpen)="isFloatMenuOpen = $event">
                      </lilly-language-switcher>
                    </div>
                    <div class="show-mobile-only">
                        <button
                            #menuMobileTrigger="appOverlayTrigger"
                            [appOverlayTrigger]="overlayMobileT"
                            [mode]="'click'"
                            [outsideClose]="'click-only'"
                            [overlayClass]="['h-overlay','h-overlay--float', 'h-overlay--mobile', 'theme--dark']"
                            aria-label="Menu"
                            i18n-aria-label="@@header.menu"
                            mat-icon-button
                            class="nav__btn"
                            (isOpenChange)="isFloatMobileMenuOpen = $event">
                            <mat-icon svgIcon="menu"></mat-icon>
                        </button>

                    </div>
                </nav>
            </div>

        </div>
    </div>


    <ng-template #overlayMobileT>
        <div class="h-overlay__header">
            <ul class="menu menu--row menu--nav">
                <li>
                    @if (!isSubMenuMobile) {
                        <a class="brand"
                           [routerLink]="[ClientRoutes.Home]"
                           routerLinkActive="home"
                           [id]="startMenuId"
                        >
                            <app-logo-subject [hideText]="true" class="is-sm"/>
                        </a>
                    } @else {
                        <a role="button" mat-icon-button
                           class="nav__btn"
                           (click)="toggleSubMenuMobile()"
                        >
                            <mat-icon svgIcon="arrow_back"></mat-icon>
                        </a>
                    }
                </li>
                <li>
                    <a role="button" mat-icon-button
                       class="nav__btn"
                       (click)="toggleMenuMobile()"
                    >
                        <mat-icon svgIcon="close"></mat-icon>
                    </a>
                </li>

            </ul>
        </div>
        <div class="h-overlay__content">
            <div class="h-overlay__content__1">
                <ng-container [ngTemplateOutlet]="menuMobileT"></ng-container>
            </div>

        </div>

    </ng-template>

    <ng-template #menuMobileT>
        @if (!isSubMenuMobile) {
            <ul class="menu menu--level-1">
                @for (menuItem of navigationListsDataService.headerMenu$ | async; track menuItem; let index = $index; ) {
                    @if (menuItem.item) {
                        <li>
                            <a role="button" mat-button
                               [routerLink]="[menuItem.item.link]"
                               [state]="{ referrer: headerReferrer}"
                               [deepGtmTrigger]="menuItem.item.gtmId"
                               itemprop="url"
                               [attr.aria-label]="menuItem.item.label"
                               (click)="sendAnalyticsMenuItemSingle(menuItem)"
                               class="btn--link"
                            >
                                <div [title]="menuItem.item.label">
                                    {{ menuItem.item.label }}
                                </div>

                            </a>
                        </li>
                    }
                    @if (menuItem?.items?.length) {
                        <li>
                            <a role="button" mat-button class="btn--link"
                               [id]="'menuMobile-'+ index"
                               (click)="onMenuMobile($event)"
                            >
                                <div class="btn__grid">
                                    <div class="btn__value">

                                        {{ menuItem.title }}
                                    </div>
                                    <div class="btn__thumb">
                                        <mat-icon svgIcon="ar_forward"></mat-icon>
                                    </div>
                                </div>

                            </a>


                        </li>
                    }
                }
                @if (navigationListsDataService.showBlogNavItem$ | async) {
                    <li>
                        <a role="button" mat-button
                           [id]="'menuMobile-'+langMobileNumId"
                           [routerLink]="[ClientRoutes.Blog]"
                           itemprop="url"
                           (click)="sendAnalyticsMenuItemBlog()"
                           class="btn--link"
                        >
                            <div title="View" i18n-title="@@header.blog" i18n="@@header.blog">Blog</div>

                        </a>
                    </li>
                }

                <mat-divider/>
                <div *hideForRegions="[Language.ja_JP]">
                    <ng-container [ngTemplateOutlet]="languageSelectorMobileT"></ng-container>
                </div>
            </ul>
        }
        @for (menuItem of navigationListsDataService.headerMenu$ | async; track menuItem; let index = $index; ) {
            @if (menuItem?.items?.length) {
                <ng-container [ngTemplateOutlet]="subMenuMobileT"
                              [ngTemplateOutletContext]="{ menuItem: menuItem, title: menuItem.title, ID: 'tabMobile-'+ index }"></ng-container>
            }
        }
        <div *hideForRegions="[Language.ja_JP]">
            <ng-container [ngTemplateOutlet]="subMenuMobileT"
                          [ngTemplateOutletContext]="{ menuT: LangMenu, titleT: LangTitleMenu, ID: 'tabMobile-'+ langMobileNumId, class: 'block--lang' }"></ng-container>
        </div>


    </ng-template>

    <ng-template #subMenuMobileT
                 let-menuItem="menuItem"
                 let-menuT="menuT"
                 let-title="title"
                 let-titleT="titleT"
                 let-subTitle="subTitle"
                 let-subTitleT="subTitleT"
                 let-ID="ID"
                 let-class="class"
    >
        @if ((isMobileActive(ID) && ID) || false) {
            <div class="block block--submenu block--sm" [ngClass]="class">
                <div class="block__header">
                    <div class="block block-xs">
                        <div class="block__title">
                            <h4 class="title">
                                @if (title) {
                                    {{ title }}
                                } @else {
                                    <ng-container [ngTemplateOutlet]="titleT"></ng-container>
                                }
                            </h4>
                        </div>
                        @if (subTitle) {
                            <div class="block__text">
                              @if (subTitle) {
                                {{ subTitle }}
                              } @else {
                                <ng-container [ngTemplateOutlet]="subTitleT"></ng-container>
                              }
                            </div>
                        }
                    </div>
                </div>
                <div class="block__content">
                    @if (menuItem) {
                        <ul class="menu menu--level-2">
                            <mat-accordion>
                                @for (item of menuItem.items; track item; let index = $index) {
                                    @if (item.hrefMenuTarget === 'internal' && item.subMenu.length > 0) {
                                        <li>
                                            <a role="button" class="btn--link" mat-button
                                               (click)="browseCategory.navigateToCriteria(item, true, headerReferrer); $event.preventDefault()"
                                               itemprop="url"
                                               routerLinkActive="is-active"
                                               [routerLinkActiveOptions]="{exact:true}"
                                               [deepGtmTrigger]="item.gtmId"
                                               [href]="helperService.prepareContentfulLink(item.link)"
                                            >
                                                {{ item.label }}
                                            </a>

                                            <ul class="menu menu--level-3">
                                                @for (subItem of item.subMenu; track subItem) {
                                                    <li>
                                                        <a role="button" class="btn--link" mat-button
                                                           (click)="browseCategory.navigateToCriteria(subItem, true, headerReferrer); $event.preventDefault()"
                                                           itemprop="url"
                                                           routerLinkActive="is-active"
                                                           [routerLinkActiveOptions]="{exact:true}"
                                                           [deepGtmTrigger]="subItem.gtmId"
                                                           [href]="helperService.prepareContentfulLink(subItem.link)"
                                                        >
                                                            {{ subItem.label }}
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    @if (item.hrefMenuTarget === 'external') {
                                        <li>
                                            <a role="button" mat-button class="btn--link"
                                               (click)="browseCategory.navigateToCriteria(item, true, headerReferrer); $event.preventDefault()"
                                               itemprop="url"
                                               routerLinkActive="is-active"
                                               [routerLinkActiveOptions]="{exact:true}"
                                               [deepGtmTrigger]="item.gtmId"
                                               [routerLink]="item.link"
                                            >
                                                <ng-container
                                                        *ngTemplateOutlet="subMenuButtonContentT; context: {item: item}"></ng-container>
                                            </a>
                                        </li>
                                    }
                                }
                            </mat-accordion>
                        </ul>

                    }
                    @if (menuT) {
                        <ng-container [ngTemplateOutlet]="menuT"></ng-container>
                    }
                </div>
            </div>
        }

    </ng-template>

    <ng-template #languageSelectorMobileT>
        <li *hideForRegions="[Language.ja_JP]">
            <a role="button" class="btn--link btn--link--lang" mat-button
               [id]="'menuMobile-'+ langMobileNumId"
               (click)="onMenuMobile($event)"
            >
                <mat-icon svgIcon="network" class="lang-thumb"></mat-icon>
                {{ languageService?.selected?.label }}
            </a>
        </li>

    </ng-template>
    <ng-template #LangTitleMenu>
      <div i18n="@@language-switcher.select_your_country">Select your country or region</div>
    </ng-template>
    <ng-template #LangMenu>
        <ul class="menu menu--lang">
            @for (item of languageService.languages; track item) {
                <a role="button" class="btn--link" mat-button
                   (click)="setLanguage(item); $event.preventDefault()"
                   [href]="item?.link"
                   [attr.aria-label]="'Language ' + item?.label" itemprop="url"
                   [ngClass]="{'is-active': item === languageService.selected }">
                    {{ item?.label }}
                </a>
            }
        </ul>
    </ng-template>


</header>

<ng-template #menuDesktopT>

    <div class="h-overlay__header">
        <ul class="menu menu--row menu--nav">
            <li>
                <a class="brand"
                   [routerLink]="[ClientRoutes.Home]"
                   routerLinkActive="home"
                   [id]="startMenuId"
                   (mouseenter)="onMenuHover($event)"
                >
                  <app-logo-subject text="Trials"/>
                </a>
            </li>

            @for (menuItem of navigationListsDataService.headerMenu$ | async; track menuItem; let index = $index; ) {
                @if (menuItem.item) {
                    <li>
                        <a role="button"
                           mat-button
                           class="nav__btn"
                           [routerLink]="[menuItem.item.link]"
                           [state]="{ referrer: headerReferrer}"
                           [deepGtmTrigger]="menuItem.item.gtmId"
                           itemprop="url"
                           [attr.aria-label]="menuItem.item.label"
                           (click)="sendAnalyticsMenuItemSingle(menuItem)"
                           [id]="'menu-'+index"
                           (focus)="onMenuHover($event)"
                           (mouseenter)="onMenuHover($event)"
                        >
                            <div [title]="menuItem.item.label">
                                {{ menuItem.item.label }}
                            </div>

                        </a>
                    </li>
                }
                @if (menuItem?.items?.length) {
                    <li>
                        <a role="button"
                           mat-button
                           class="nav__btn"
                           aria-haspopup="true"
                           [id]="'menu-'+index"
                           (focus)="onMenuHover($event)"
                           (mouseenter)="onMenuHover($event)"
                        >
                            <div [title]="menuItem.title ">{{ menuItem.title }}</div>
                        </a>
                    </li>
                }
            }
            @if ((navigationListsDataService.showBlogNavItem$ | async) && headerMenuLength > 0) {
                <li>
                    <a role="button"
                       mat-button
                       class="nav__btn"
                       [routerLink]="[ClientRoutes.Blog]"
                       itemprop="url"
                       [id]="'menu-'+headerMenuLength"
                       (focus)="onMenuHover($event)"
                       (mouseenter)="onMenuHover($event)"
                       (click)="sendAnalyticsMenuItemBlog()"
                    >

                        <ng-container [ngTemplateOutlet]="blogTitle"></ng-container>
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="h-overlay__content">
        <ng-container [ngTemplateOutlet]="subMenuDesktopT"
                      [ngTemplateOutletContext]="{ menuLink: ClientRoutes.Home, titleT: logoTitle, subTitleT: logoSubTitle, ID: startTabId }"></ng-container>
        @for (menuItem of navigationListsDataService.headerMenu$ | async; track menuItem) {
            @if (menuItem.item) {
                <ng-container [ngTemplateOutlet]="subMenuDesktopT"
                              [ngTemplateOutletContext]="{ menuLink: menuItem.item.link, title: menuItem.item.label, subTitle: menuItem.item.subLabel, ID: 'tab-'+$index }"></ng-container>
            }
            @if (menuItem?.items?.length) {
                <ng-container [ngTemplateOutlet]="subMenuDesktopT"
                              [ngTemplateOutletContext]="{ menuItem: menuItem, title: menuItem.title, subTitle: menuItem.subTitle, ID: 'tab-'+$index }"></ng-container>
            }

        }
        @if ((navigationListsDataService.showBlogNavItem$ | async) && headerMenuLength > 0) {
            <ng-container [ngTemplateOutlet]="subMenuDesktopT"
                          [ngTemplateOutletContext]="{ titleT: blogTitle, subTitleT: blogSubTitle, ID: 'tab-'+ headerMenuLength}"></ng-container>
        }
    </div>
    <ng-template #subMenuDesktopT
                 let-menuItem="menuItem"
                 let-menuLink="menuLink"
                 let-title="title"
                 let-titleT="titleT"
                 let-subTitle="subTitle"
                 let-subTitleT="subTitleT"
                 let-ID="ID">

        @if (isActive(ID) && ID) {
            <div class="h-overlay__content__grid block is-grid"
                 [id]="ID"
                 [@fadeAnimation]>
                <div class="block__header">
                    <div class="block block-xs">
                        <div class="block__title">
                            <h4 class="title h2-garamond-heading">
                                <i>
                                    @if (title) {
                                        {{ title }}
                                    } @else {
                                        <ng-container [ngTemplateOutlet]="titleT"></ng-container>
                                    }
                                </i>
                            </h4>
                        </div>
                    </div>
                    <div class="block__text">
                      @if (subTitle) {
                        {{ subTitle }}
                      } @else {
                        <ng-container [ngTemplateOutlet]="subTitleT"></ng-container>
                      }
                    </div>
                </div>
                <div class="block__content" [ngClass]="{'block__content--menu': menuItem}">
                    @if (menuItem) {
                        <ul class="menu menu--level-2" [ngClass]="{'multi-column': menuItem.items?.length > 4}">
                            @for (item of menuItem.items; track item) {

                                @if (item.hrefMenuTarget === 'internal' && item.subMenu.length > 0) {
                                    <li>
                                        <a role="button" class="btn--link" mat-button
                                           (click)="browseCategory.navigateToCriteria(item, true, headerReferrer); $event.preventDefault()"
                                           itemprop="url"
                                           routerLinkActive="is-active"
                                           [routerLinkActiveOptions]="{exact:true}"
                                           [deepGtmTrigger]="item.gtmId"
                                           [href]="helperService.prepareContentfulLink(item.link)"
                                        >
                                            {{ item.label }}
                                        </a>

                                        <ul class="menu menu--level-3">
                                            @for (subItem of item.subMenu; track subItem) {
                                                <li>
                                                    <a role="button" class="btn--link" mat-button
                                                       (click)="browseCategory.navigateToCriteria(subItem, true, headerReferrer); $event.preventDefault()"
                                                       itemprop="url"
                                                       routerLinkActive="is-active"
                                                       [routerLinkActiveOptions]="{exact:true}"
                                                       [deepGtmTrigger]="subItem.gtmId"
                                                       [href]="helperService.prepareContentfulLink(subItem.link)"
                                                    >
                                                        {{ subItem.label }}
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (item.hrefMenuTarget === 'external') {
                                    <li>
                                        <a role="button" class="btn--link" mat-button
                                           (click)="browseCategory.navigateToCriteria(item, true, headerReferrer); $event.preventDefault()"
                                           itemprop="url"
                                           routerLinkActive="is-active"
                                           [routerLinkActiveOptions]="{exact:true}"
                                           [deepGtmTrigger]="item.gtmId"
                                           [href]="helperService.prepareContentfulLink(item.link)"
                                        >
                                            {{ item?.label }}
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    }
                  @if (MenuImageList[menuLink]; as imageInfo) {
                    <ng-container [ngTemplateOutlet]="menuImage" [ngTemplateOutletContext]="{ imageInfo: imageInfo }"></ng-container>
                  }
                </div>
            </div>
        }

    </ng-template>

</ng-template>

<ng-template #logoTitle>
  <ng-container title="Lilly Trials" i18n-title="@@header.logo_title" i18n="@@header.logo_title">Lilly Trials</ng-container>
</ng-template>

<ng-template #logoSubTitle>
  <ng-container i18n="@@header.logo_sub-title">
    Lilly Trials helps patients, their loved ones, and healthcare providers find and match to a Lilly clinical trial.
    You can learn what clinical trials are and see which trials you might match to.
  </ng-container>
</ng-template>

<ng-template #blogTitle>
    <ng-container title="Blog" i18n-title="@@header.blog" i18n="@@header.blog">Blog</ng-container>
</ng-template>

<ng-template #blogSubTitle>
  <ng-container i18n="@@header.blog_sub-title">
    Read blog posts that share information about Lilly clinical trials, new medicines, and the people whose lives are
    being helped. Whether you are a patient, a loved one, or healthcare provider, these stories can help you learn more
    and stay connected.
  </ng-container>
</ng-template>


<ng-template #subMenuButtonContentT let-item="item" let-showArrow="showArrow">
    <div class="btn__grid">
        <!--           TODO Not clear if needs category icons
                    @if (item.icon) {
                        <div class="col-auto thumb me-1">
                            <img [src]="item.icon"
                                 [alt]="item.altText">
                        </div>
                    }
                 -->
        <div class="btn__value">{{ item.label }}</div>
        @if (showArrow) {
            <div class="btn__thumb">
                <mat-icon svgIcon="ar_forward"></mat-icon>
            </div>
        }
    </div>
</ng-template>

<ng-template #menuImage let-imageInfo="imageInfo">
    <cb-card class="card--postal" [routerLink]="imageInfo.link">
      <cb-card-body>
        <div class="block is-grid block--xs">
          <div class="block__content">
            <div class="block__title">
              <h4 class="title">{{ imageInfo.title }}</h4>
            </div>
            <div class="block__text">
              {{ imageInfo.subtitle }}
            </div>
          </div>
          <div class="block__thumb">
            <mat-icon svgIcon="arrow_forward"></mat-icon>
          </div>
        </div>
      </cb-card-body>
      <div class="media">
        <img [src]="imageInfo.image" [alt]="imageInfo.imageAlt" width="200"/>
      </div>
    </cb-card>
</ng-template>
