<cst-wrapper class="cst--my-0 cst--day-program">
  <ng-container cst-label>
    {{ fields()?.label }}
  </ng-container>
  <ng-container cst-title>
    {{ fields()?.heading }}

  </ng-container>
  <ng-container cst-header-content>
    <div class="block block--sm">
      <div class="block__text description" [innerHTML]="fields()?.bodyText | mdToHtml"></div>
      @if (fields()?.actionIcons?.length) {
        <div class="block__actions">
          @for (icon of fields()?.actionIcons; track icon.sys.id) {
            <button type="button" mat-icon-button  class="action-btn" (click)="onActionClick(icon)"
                    [attr.aria-label]="icon?.fields?.altText">
              <img [src]="icon?.fields?.icon?.fields?.file?.url" [alt]="icon?.fields?.altText || ''" loading="lazy"
                   decoding="async"/>
            </button>
          }
        </div>
      }
    </div>
  </ng-container>


    @if (fields()?.microstepsBlock?.fields) {
      <lilly-content-microsteps-block
        [microstepsBlockFields]="fields()?.microstepsBlock?.fields"></lilly-content-microsteps-block>
    }
    @if (fields()?.imageCoverBlock) {
      <lilly-content-image-cover-block
        [imageCoverBlockFields]="fields()?.imageCoverBlock?.fields"></lilly-content-image-cover-block>
    }
    @if (fields()?.benefitsBlock?.fields) {
      <lilly-content-benefits-block
        [benefitsBlockFields]="fields()?.benefitsBlock?.fields"></lilly-content-benefits-block>
    }

</cst-wrapper>
