@use "_v3/calc" as calc;

@use "../../../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel" as owl;
@use "../../../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default" as owl-theme;

$arrow-padding: 1.75rem;
$arrow-border-width: 3px;
$arrow-border-radius: 3px;

owl-carousel-o {
  display: block;
  position: relative;
  // padding: 0 $arrow-padding;

  .owl-carousel {
    .owl-stage {
      display: flex;
    }

    .owl-nav {
      overflow: hidden;
      height: 0;
      margin: 0;

      .owl-prev,
      .owl-next {
        @include calc.square(3rem); // 48px
        background-color: var(--#{calc.$cb}white);
        top: 45%;
        position: absolute;
        opacity: 1;
        border-radius: 50%;
        box-shadow: none;
        &:hover,&:focus {
          background-color: var(--#{calc.$cb}white);
          color: currentColor;
        }

        &:after {
          content: "";
          @include calc.square(0.625rem); // 10px
          position: absolute;
          top: 50%;
          left: 50%;
          background: none;
          border: solid var(--#{calc.$cb}black);
          border-width: $arrow-border-width 0px 0px $arrow-border-width;
          display: inline-block;
          margin: 0;
          padding: 3px;
        }

        &.disabled {
          opacity: 0;
          visibility: hidden;
          pointer-events: none;
        }
      }

      .owl-prev {
        left: -1.5rem;

        &:after {
          transform: translate(-25%, -50%) rotate(-45deg);
        }
      }

      .owl-next {
        right: -1.5rem;

        &:after {
          transform: translate(-75%, -50%) rotate(135deg);
        }
      }
    }

    .owl-dots {
      .owl-dot {
        &.active span {
          background: var(--page-color);
        }
      }
    }
  }
}
