@if (windowScrolled && (scrollToTopService.getData() | async).show) {
    <div
            class="scroll-to-top"
            [ngClass]="{ 'show-scrollTop': windowScrolled && (scrollToTopService.getData() | async).show }"
    >
        <button
                type="button"
                class="btn-scroll-to-top"
                tabindex="-1"
                mat-mini-fab
                (click)="scrollToTop()"
        >
            <div class="btn-scroll-to-top__label">
                <mat-icon svgIcon="arrow_up" class="sm"></mat-icon>
                @if ((scrollToTopService.getData() | async).text !== '') {
                    <span>{{ (scrollToTopService.getData() | async).text }}</span>
                }
                @else {
                    <span i18n="@@goto.top" class="d-inline-flex px-1">Top</span>
                }
            </div>
        </button>
    </div>
}
