@use "_v3/calc" as calc;

$h: '' !default;
$init: (
        title-font-size: (media-query-up: (
                xs: calc(var(--#{calc.$cb}font-size-base) * 2.5),
                lg: calc(var(--#{calc.$cb}font-size-base) * 3),
        )),
        description-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-lg),
                lg: var(--#{calc.$cb}font-size-base),
        )),
) !default;

:host ::ng-deep {
  @include calc.css-initVars($init, $h);
  .#{calc.$card-class}.md-card-promo {
    @include calc.md-card-promo--custom();

    --card-pro--custom--title-font-size: var(--#{$h}title-font-size);
    --card-pro-font-size: var(--#{$h}description-font-size);
  }
}
