<div
        class="card {{cardWidgetFields.orientation }}"
        [ngClass]="cardWidgetFields?.flippable && {'flip-out-bckg': !flipContentToggle, 'flip-in': flipContentToggle }"
        (click)="onflipContentToggle()"
        (keydown.enter)="flipContentOnEnter()"
        [attr.tabindex]="flipContentToggle ? '-1' : '0'"
        #cardImage
>
    <div
            [ngSwitch]="cardWidgetFields.displayMedia"
            [ngStyle]="{
      'max-width': cardWidgetFields.orientation?.includes('vertical') ? '100%' :
                    cardWidgetFields.maxImageWidth ? cardWidgetFields.maxImageWidth + '%' : '25%'
    }"
            [ngClass]="{'custom-ratio': !cardWidgetFields?.useImageAsIcon && (cardWidgetFields.image || cardWidgetFields.cardVideoId || cardWidgetFields.videoUrl)}"
            class="{{'media media--' + cardWidgetFields.orientation}}">

        @if (cardWidgetFields?.displayMedia === MediaContentType.IMAGE) {
            @if (cardWidgetFields.image) {
                <picture>
                    @if (!cardWidgetFields?.useImageAsIcon) {
                        <source type="image/avif" [srcset]="cardWidgetFields.image.fields.file.url + '?fm=avif'"/>
                        <source type="image/webp" [srcset]="cardWidgetFields.image.fields.file.url + '?fm=webp'"/>
                    }
                    <img
                            class="img"
                            [ngClass]="{'img-icon': cardWidgetFields?.useImageAsIcon}"
                            [src]="cardWidgetFields.image.fields.file.url"
                            [alt]="cardWidgetFields?.altText || ''"
                            [attr.aria-hidden]="cardWidgetFields?.ariaHidden"
                    />
                </picture>
            }
            @else {
                <div class="{{ 'default-image default-image--' + cardWidgetFields.orientation }}">
                    <mat-icon svgIcon="search-subsite"></mat-icon>
                </div>
            }
        }
        @else {
            <lilly-media-content [mediaType]="cardWidgetFields?.displayMedia"
                                 [mediaId]="mediaId"
                                 [uiConfigId]="cardWidgetFields?.kalturaUiConfig?.fields.id"
                                 [subsiteName]="cmsAnalytics?.subsiteName"
                                 [title]="cardWidgetFields?.summary"
                                 [backgroundColor]="cardWidgetFields?.spotifyBackgroundColor"
                                 [videoConfig]="cardWidgetFields?.videoConfig">
            </lilly-media-content>
        }
    </div>

    <div class="content-wrapper">
        <div class="content">
            @if (sectionshowTitle) {
            <h2
                class="title h3"
                [ngClass]="{'title-mobile-show': cardWidgetFields?.showSummaryInMobile}"
                [innerHTML]="cardWidgetFields.summary | mdToHtml"></h2>
            }
            @else {
                <h2
                        class="title"
                        [ngClass]="{'title-mobile-show': cardWidgetFields?.showSummaryInMobile}"
                        [innerHTML]="cardWidgetFields.summary | mdToHtml"></h2>
            }
            <ng-container
                    [ngTemplateOutlet]="description"
                    [ngTemplateOutletContext]="{desktopDesc: cardWidgetFields?.flippable ? cardWidgetFields?.flipFrontContent : cardWidgetFields?.content,
                                      mobileDesc: cardWidgetFields?.flippable ? cardWidgetFields?.flipFrontContent : cardWidgetFields?.contentMobile}">
            </ng-container>
        </div>
    </div>

    @if (cardWidgetFields?.flippable) {
        <div class="flip-wrapper content-wrapper" #cardDescription [attr.tabindex]="flipContentToggle ? '0' : '-1'"
             [ngClass]="{'flip-out': !flipContentToggle, 'flip-in': flipContentToggle}">
            <ng-container
                    [ngTemplateOutlet]="description"
                    [ngTemplateOutletContext]="{desktopDesc: cardWidgetFields?.content, mobileDesc: cardWidgetFields?.contentMobile}">
            </ng-container>
        </div>

        <div class="flip-btn">
            <a mat-flat-button role="button">
                <div class="btn__grid">
                    <span> {{ cardWidgetFields?.flipButtonText }}</span>
                    <mat-icon svgIcon="arrow_forward"></mat-icon>
                </div>
            </a>
        </div>
    }
</div>

<ng-template #description let-desktopDesc="desktopDesc" let-mobileDesc="mobileDesc">
    <div class="description" [attr.aria-hidden]="!flipContentToggle && cardWidgetFields?.flippable">
        <span class="desktop"
              [innerHTML]="desktopDesc | mdToHtml: {analytics: cmsAnalytics, elementRef: elementRef}"></span>
        <span
                class="mobile"
                [innerHTML]="mobileDesc || desktopDesc | mdToHtml: {analytics: cmsAnalytics, elementRef: elementRef}"
        ></span>
    </div>
</ng-template>
