@use "_v3/calc" as *;
@use "_v3/modules/card.scss" as card;

$h: '' !default;

$image-mobile-height: 11.75rem !default;
$ratio-padding: 56.25% !default;

$init: (
    image-mobile-height: $image-mobile-height,
    ratio-padding: $ratio-padding,
    description-desktop-display: (
          media-query-up: (
                xs: none,
                md: block,
          )
    ),
    description-mobile-display: (
          media-query-up: (
                xs: block,
                md: none,
          )
    ),
    card-horizontal-direction: (
          media-query-up: (
                xs: column,
                md: row,
          )
    ),
    card-horizontal-reverse-direction: (
          media-query-up: (
                xs: column-reverse,
                md: row-reverse,
          )
    ),
) !default;

:host {
  @include css-initVars($init, $h);

  display: block;
  padding: var(--#{$cb}space-100) 0;
  height: 100%;
  width: 100%;
}

.card {
  &.horizontal {
    flex-direction: var(--#{$h}card-horizontal-direction);
  }

  &.vertical {
    flex-direction: column;
    position: relative;
    .img {
      &-icon {
        width: 72%;
        height: 10rem;
      }
    }
  }

  &.horizontal-reverse {
    flex-direction: var(--#{$h}card-horizontal-reverse-direction);
  }

  &.vertical-reverse {
    flex-direction: column-reverse;
    position: relative;
  }

  picture {
    background: var(--page-color);
    color: var(--page-color-invert);
    display: flex;
  }

  .img-icon {
    @include square(72%);
    object-fit: contain;
    margin: auto;
  }

  .default-image {
    background: var(--page-color);
    display: flex;
    align-items: center;
    justify-content: center;
    @include square(100%);

    mat-icon {
      @include square(75%);

      ::ng-deep {
        svg {
          fill: var(--#{$cb}white);
        }
      }
    }

    &--vertical,
    &--vertical-reverse {
      max-width: 100%;
      mat-icon {
        @include square(72%);
      }
    }
  }

  .content-wrapper {
    --#{$h}title-line-clr: var(--page-color);

    .description {
      .desktop {
        display: var(--#{$h}description-desktop-display);
      }

      .mobile {
        display: var(--#{$h}description-mobile-display);
      }
    }
  }
}

.flip {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    background: var(--#{$cb}white);
    opacity: 0;

    .description { text-align: center; }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    margin-bottom: var(--#{$cb}space-300);
  }
}

.flip-in {
	animation: flip-in 0.6s  both;
}

.flip-out {
	animation: flip-out 0.6s both;
  pointer-events: none;
}

@keyframes flip-in {
  0% {
    transform: perspective(800px) rotateY(180deg);
    opacity: 0;
  }
  100% {
    transform: perspective(800px) rotateY(0);
    opacity: 1;
  }
}

@keyframes flip-out {
  0% {
    transform: perspective(800px) rotateY(180deg);
    opacity: 1;
  }
  100% {
    transform: perspective(800px) rotateY(0);
    opacity: 0;
  }
}

.flip-out-bckg {
  animation: flip-out-bckg 0.6s both;
}


@keyframes flip-out-bckg {
  0% {
    transform: perspective(800px) rotateY(180deg);
    opacity: 0;
  }
  100% {
      transform: perspective(800px) rotateY(0);
      opacity: 1;
  }
}

.kaltura {
  ::ng-deep{
    .player-wrapper {
      height: 100% !important;
      padding-bottom: 0 !important;
    }
  }
}

@include media-breakpoint-down(xl) {
  .media {
    &--horizontal,
    &--horizontal-reverse {
      .kaltura {
        ::ng-deep{
          .player-wrapper {
              min-height: 15rem;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .media {
    max-width: 100% !important;
  }

  .card {
    &.horizontal {
      .content-wrapper {
        .content {
          .title:not(.title-mobile-show) {
            display: none;
          }
        }
      }
    }

    picture {
      max-width: 100% !important;
    }

    .default-image {
      max-width: 100%;

      &--horizontal,
      &--horizontal-reverse {
        height: var(--#{$h}image-mobile-height);
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .media {
    &--vertical,
    &--vertical-reverse {
      height: 12.2rem;
    }
  }
}


.custom-ratio {
  width: 100%;
  height: initial;
  position: relative;
  padding-top: var(--#{$h}ratio-padding);

  &[class*="media--horizontal"][class*=" "] {
    padding-top: calc(var(--#{$h}ratio-padding) / 3);

    @include media-breakpoint-down(sm) { 
      padding-top: var(--#{$h}ratio-padding);
    }
  }

  picture, lilly-media-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
