<button class="d-print-none btn--inform"
        mat-icon-button
        tabindex="0"
        attr.aria-label="{{tooltip()}}"
        aria-hidden="false"
        (mouseenter)="openOverlay()"
        (mouseleave)="closeByMouseLeave($event)"
        cdkOverlayOrigin #trigger="cdkOverlayOrigin"
        (click)="openOverlay($event.clientX, true)"
        (keydown.enter)="isFromKeyboard = true; openOverlay(null, true)">

  <mat-icon [svgIcon]="iconSrc" class="xs "></mat-icon>
</button>
<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOpen]="isOverlayOpened()"
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayPush]="true"
    [cdkConnectedOverlayScrollStrategy]="scrollStrategy"
    (positionChange)="updateArrowPosition()"
    (detach)="detachOverlay()"
    [cdkConnectedOverlayPositions]="[
                      {originX: 'center', originY: 'top', overlayX: 'center', overlayY: 'bottom', panelClass: 'up', offsetY: -1 * arrowSize.height},
                      {originX: 'center', originY: 'bottom', overlayX: 'center', overlayY: 'top', panelClass: 'down', offsetY: arrowSize.height}
                    ]"
>
  <div class="popup-info" #popup tabindex="0"
       (mouseleave)="closeByMouseLeave($event)"
  >
    <div class="popup-info__arrow" [style.left]="arrowPosition()"></div>
    <div class="popup-info__block">
      @if (wasOpenedByClick()) {
        <div class="popup-info__ctrl">
          <button mat-icon-button color="primary"
                  (click)="closeOverlay()"
                  tabindex="0">
            <mat-icon svgIcon="close"></mat-icon>
          </button>
        </div>
      }

      <div class="popup-info__text" tabindex="0">
        {{ tooltip() }}
      </div>
    </div>
  </div>
</ng-template>
