<cb-card class="md-card-promo">
    <!--    TODO remove images
        @if (fields?.image) {
            <picture>
                <source type="image/avif" [srcset]="fields?.image?.fields?.file?.url + '?fm=avif'" />
                <source type="image/webp" [srcset]="fields?.image?.fields?.file?.url + '?fm=webp'" />
                <img class="img"
                     [src]="fields?.image?.fields?.file?.url"
                     [alt]="fields?.imageAltText || ''" />
            </picture>
        }
    -->
    <cb-card-body class="block">
        <div class="block__title">
            <h2 class="title h2-garamond-heading">{{ fields?.heading }}</h2>
        </div>
        <div class="block__text description">
            <span [innerHTML]="fields?.description | mdToHtml"></span>
        </div>
        <div class="block__ctrl">
            <button mat-flat-button color="primary" class="mb-button-main" (click)="buttonClicked.emit(true)">
                <div class="btn__grid">
                    <div>{{ fields?.startButtonText }}</div>
                    <mat-icon [svgIcon]="'arrow_forward'" class="sm"></mat-icon>
                </div>
            </button>
        </div>
    </cb-card-body>
</cb-card>
