@use "_v3/calc" as calc;
$h: calc.$cb-research !default;
$init: (
        nav-ctrl-display: block,
) !default;

::ng-deep :root {
  @include calc.css-initVars($init, $h);
}

:host ::ng-deep   {
  .cst {
    &--nav {
      display: var(--#{$h}nav-ctrl-display);
      padding: var(--#{calc.$cb}space-800) 0 0;
    }
  }
}

