<cst-wrapper class="cst--pre-qualify pre-qualify theme--dark d-print-none" hostSizeClass="cst--md"
    [showHeaderContent]="false" [showMedia]="true">
    <div class="block card-prescreen">
        <div class="block__title">
            <h2 class="title garamond-heading-1-font" [innerHTML]="trialConnectWidgetFields?.title | mdToHtml"></h2>
        </div>
        <div class="block__text" [innerHTML]="trialConnectWidgetFields?.description | mdToHtml"></div>
            <div class="block__ctrl">
                <button mat-flat-button color="primary" class="mb-button-main"
                    [deepGtmTrigger]="GtmTriggerName.QuestionnaireEnter" (click)="goToQuestionnaire(trialConnectWidgetFields?.buttonLink, trialConnectWidgetFields?.linkBehavior)">
                    <div class="btn__grid">
                        <div>{{ trialConnectWidgetFields?.buttonText }}</div>
                        <mat-icon [svgIcon]="'arrow_forward'" class="sm"></mat-icon>
                    </div>
                </button>
            </div>
    </div>

    <ng-container cst-media>
        <picture class="media">
            <img [src]="trialConnectWidgetFields?.image?.fields?.file?.url" [alt]="trialConnectWidgetFields?.altText || ''">
        </picture>
    </ng-container>
</cst-wrapper>


