@use "_v3/calc" as calc;

$h: '' !default;
$init: (
  show-desktop-only: (media-query-up: (
    xs: none,
    lg: block,
  )),
  show-mobile-only: (media-query-up: (
    xs: block,
    lg: none,
  )),
  cst-contnet-offset-y: (media-query-up: (
    xs: var(--#{calc.$cb}space-800),
  )),
) !default;

:host {
  @include calc.css-initVars($init, $h);
  @media screen and (min-width: map-get(calc.$grid-breakpoints, xl)) and (min-height: map-get(calc.$height-breakpoints, xl)) {
    --#{$h}cst-contnet-offset-y: var(--#{calc.$cb}space-1200);
  }
}


:host ::ng-deep {
  .menu-area {
    display: grid;
    gap: var(--#{$h}cst-contnet-offset-y);
  }

  .nav--tabs {


    .form-group {
      width: 100%;
    }
  }

  .show-desktop-only {
    display: var(--#{$h}show-desktop-only);
  }

  .show-mobile-only {
    display: var(--#{$h}show-mobile-only);

  }
}
