@if (wrapped()) {
  <cst-wrapper [showHeaderContent]="false">
    <ng-container *ngTemplateOutlet="contentT"></ng-container>
  </cst-wrapper>
} @else {
  <ng-container *ngTemplateOutlet="contentT"></ng-container>
}
<ng-template #contentT>
  <div class=" menu-area">
    <container-wrapper>
      <div class="show-desktop-only">
        <div class="nav--tabs">
          <div class="nav--tabs__container " id="nav-cont-elements">
            <lilly-one-row-navigation>
              <div class="nav--tabs__content">
                @for (item of modulesNavigationBarFields()?.menu; track item.sys.id) {
                  <button mat-button class="nav--tabs__item"
                          [attr.aria-selected]="item?.sys.id === selectedMenuItem()?.sys.id"
                          [class.selected]="item?.sys.id === selectedMenuItem()?.sys.id"
                          [attr.aria-label]="(item?.fields?.title)" (click)="onMenuItemClick(item)" tabindex="0">
                    <span>{{ item?.fields?.title }}</span>
                  </button>
                }
              </div>
            </lilly-one-row-navigation>
          </div>
        </div>
      </div>
      <div class="show-mobile-only">
        <div class="form-group ">
          <div class="label--external">{{ fields()?.mobileDropdownLabel }}</div>
          <mat-form-field class="research-areas-dropdown has-out-hint">
            <mat-select [value]="selectedMenuItem()" (selectionChange)="onMenuItemClick($event.value)">
              @for (item of fields()?.menu; track item.sys.id) {
                <mat-option [value]="item">{{ item?.fields?.title }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </container-wrapper>

    @if (selectedMenuItem()?.fields?.introduction?.fields) {
      <div class="menu-area__content">
        <lilly-content-image-tile-widget
          [imageTileWidgetFields]="selectedMenuItem()?.fields?.introduction?.fields"></lilly-content-image-tile-widget>
      </div>
    }

    @if (selectedMenuItem()?.fields?.weekPlannerNavigation?.fields) {
      <div class="menu-area__content">
        <lilly-content-week-planner-navigation-bar
          [weekPlannerNavigationBarFields]="selectedMenuItem()?.fields?.weekPlannerNavigation?.fields"></lilly-content-week-planner-navigation-bar>
      </div>
    }

    @if (selectedMenuItem()?.fields?.videoCarouselBlock?.fields) {
      <div class="menu-area__content">
        <lilly-content-video-carousel-block
          [videoCarouselBlockFields]="selectedMenuItem()?.fields?.videoCarouselBlock?.fields"></lilly-content-video-carousel-block>
      </div>
    }

    @if (selectedMenuItem()?.fields?.articlesBlock?.fields) {
      <div class="menu-area__content">
        <lilly-content-articles-block
          [articlesBlockFields]="selectedMenuItem()?.fields?.articlesBlock?.fields"></lilly-content-articles-block>
      </div>
    }
  </div>
</ng-template>



