<cst-wrapper class="cst--blog  is--first "  hostSizeClass="cst--lg" [showTitle]="false"
             [showLogoSubject]="false">
    <ng-container cst-header-content>
        <div class="block">
          <div class="block__title">
              <h1 class="h2 title">
                  <span  i18n="@@blog_search.search_results">Search: results for </span> {{ searchTitle }}
              </h1>
          </div>

        </div>
    </ng-container>

    @if (!loading) {
        @if (articles?.length ) {
            <section class="articles" aria-label="Articles" i18n-aria-label="@@blog.articles">
                @for (article of articles; track article) {

                        <lilly-blog-article-card [article]="article"></lilly-blog-article-card>

                }
            </section>
        }
        @else {
            <h2 class="garamond-heading-1-font" i18n="@@blog_search.no_match_articles">
                We couldn't find any articles that matched your search.
            </h2>
        }
    }
    @else {
        <section class="articles">
            @for (i of [].constructor(loadersAmount); track i) {

                    <lilly-blog-page-skeleton-loader></lilly-blog-page-skeleton-loader>

            }
        </section>
    }

</cst-wrapper>
