<hero-wrapper>
  <div class="block block--md">
    <div class="block__title">
      <h1 class="title ringside-heading-1-font" i18n>
        {{ heroFields()?.headline }}
      </h1>
    </div>
    <div class="block__subtitle">
      <div class="subtitle garamond-subtitle-font">{{ heroFields()?.subheadline }}</div>
    </div>
  </div>


  <ng-container footer>
    @if (heroFields()?.card?.fields) {

      <div class="hero-card">
        <h4>{{ heroFields()?.card?.fields?.title }}</h4>
        <div class="hero-card__body" [innerHTML]="heroFields()?.card?.fields?.bodyText | mdToHtml"></div>
        @if (heroFields()?.card?.fields?.button) {
          <div class="hero-card__actions">
            <button mat-flat-button color="primary" (click)="goToLink(heroFields()?.card?.fields?.button)">
              <div class="btn__grid">
                <div>
                  {{ heroFields()?.card?.fields?.button?.fields?.text }}
                </div>
                <mat-icon svgIcon="arrow_forward"></mat-icon>
              </div>
            </button>
          </div>
        }
      </div>
    }
  </ng-container>

  <ng-container media>
    <picture class="media">
      <img width="220"
           [src]="heroFields()?.backgroundImage?.fields?.file?.url"
           [alt]="heroFields()?.altText">
      <div class="media__bg"></div>
    </picture>
  </ng-container>

  <ng-container scroll>
    <a (click)="scrollToId()"
       role="button" mat-button
       class="btn--text btn--scroll">
      <div>{{ heroFields()?.scrollLabel }}</div>
      <div>
        <mat-icon svgIcon="arrow-scroll" class="arrow-down"></mat-icon>
      </div>

    </a>
  </ng-container>
</hero-wrapper>




