@use '_v3/calc' as calc;

$init: (
  btn-scrolll-display: (media-query-up: (
    xs: none,
    lg: inline-flex,
  )),
  hero-card-title-font: (media-query-up: (
    xs: '400 1.5rem / 1.25 var(--#{calc.$cb}font-family-serif)',
    lg: '400 2rem / 1.25 var(--#{calc.$cb}font-family-serif)',
  )),
  hero-card-font-size: (media-query-up: (
    xs: var(--#{calc.$cb}font-size-xs),
    lg: var(--#{calc.$cb}font-size-base),
  )),
  hero-card-btn-width: (media-query-up: (
    xs: 12.89rem,
  )),
);

$h: '' !default;
:host {
  @include calc.css-initVars($init, $h);

  ::ng-deep {
    .block.block--hero-card {
      .title {
        font: var(--#{$h}hero-card-title-font);
      }
      .block__text{
        font-size: var(--#{$h}hero-card-font-size);
      }

      .block__ctrl {
        #{calc.$btn-selector} {
          width: auto;
          min-width: var(--#{$h}hero-card-btn-width) !important;
        }
      }
    }

    #{calc.$btn-selector} {
      &.btn--scroll {
        display: var(--#{$h}btn-scrolll-display);

        .mdc-button__label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          gap: 0.75rem;
          font: 900 0.75rem / 1.0 var(--#{calc.$cb}font-sans-extra-wide);
          text-transform: uppercase;

          > * {
            margin: 0;
          }

          .mat-icon {
            @include calc.square(1.75rem);
          }
        }
      }
    }
  }
}

