@use '_v3/calc' as calc;

$init: (
  btn-scrolll-display: (media-query-up: (
    xs: none,
    lg: inline-flex,
  )),
);

$h: '' !default;
:host {
  @include calc.css-initVars($init, $h);

  ::ng-deep {
    #{calc.$btn-selector} {
      &.btn--scroll {
        display: var(--#{$h}btn-scrolll-display);

        .mdc-button__label {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          gap: 0.75rem;
          font: 900 0.75rem / 1.0 var(--#{calc.$cb}font-sans-extra-wide);
          text-transform: uppercase;

          > * {
            margin: 0;
          }

          .mat-icon {
            @include calc.square(1.75rem);
          }
        }
      }
    }
  }
}

