<div class="md-dialog-header text-center mb-4">
    @if (!data?.isNoLogo) {
        <img src="assets/images/lilly-logo.svg" width="88px" alt="Lilly logo">
    }
    <button mat-icon-button mat-dialog-close class="md-btn-close" [aria-label]="DIALOG_KEY.Close">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<mat-dialog-content class="text-center mb-3">
    <h2 i18n="@@leave_lilly_dialog.title" id="leaveLillyDialogLabel">You will be leaving Lilly Trials</h2>
    <p i18n="@@leave_lilly_dialog.subtitle">You are now leaving the Lilly Trials website. If you press “Continue” you
        will be directed to a different website. Eli Lilly and Company is not responsible for any content on the site
        you are about to visit, nor the privacy policy of that website.</p>
</mat-dialog-content>


<mat-dialog-actions>
    <div class="md-dialog-action-confirm w-100">
        <div class="row g-md-3 g-3 justify-content-center align-items-center ">
            <div class="col-auto col-sm-auto">
                <button mat-stroked-button
                        mat-dialog-close
                        color="primary"
                        i18n="@@leave_lilly_dialog.cancel_button_title">
                    Return To Lilly Trials
                </button>
            </div>
            <div class="col-auto col-sm-auto">
                <button mat-flat-button
                        color="primary"
                        class="md-btn-submit"
                        (click)="leaveLillyTrials()"
                        i18n="@@leave_lilly_dialog.submit_button_title"
                        role="link">
                    Continue
                </button>
            </div>
        </div>
    </div>
</mat-dialog-actions>

