<cst-wrapper #questionnaireWrapper
             class="cst--quiz"
             [showLogoSubject]="false"
             [showTitle]="false"
             [showHeaderContent]="true"
             [hostSizeClass]="'cst--md'">
    <ng-container cst-title>
        {{ widgetFields?.widgetTitle }}
    </ng-container>
    <ng-container cst-header-content>
        <div class="quiz--counter">
            {{ currentQuizNumber }}/{{ quizLength }}
        </div>
    </ng-container>

    <ng-container cst-content>

        <div class="card-questionnaire ">
            @if (completedQuiz) {
                <div class="block">
                    <div class="block__title">
                        <h2 class="title h2 card-questionnaire-completed" [id]="QUIZ_COMPLETED_MESSAGE"
                            [innerHTML]="widgetFields?.submitText | mdToHtml" tabIndex="0"></h2>
                    </div>
                    <div class="block__ctrl">
                        <button mat-flat-button color="primary"
                                (click)="onReset()"
                                [disabled]="!answers[currentQuizNumber]">
                            <div class="btn__grid">
                                <mat-icon svgIcon="arrow_back"></mat-icon>
                                <div class="btn__value btn-multiline-def__content"> {{ widgetFields?.submitButtonText }}</div>
                            </div>
                        </button>
                    </div>

                </div>
            } @else {
                <div class="card-questionnaire-in" #questionnaire>
                    <lilly-quiz-widget-question
                            [currentQuestion]="widgetFields?.questions[currentQuizNumber - 1]?.fields"
                            [value]="answers[currentQuizNumber]"
                            (valueSelected)="onAnswerQuestion($event)"
                    ></lilly-quiz-widget-question>
                </div>
            }
            @if (!completedQuiz) {
                <div class="card-footer">
                    <div>
                        @if (backButtonEnabled) {

                            <button mat-flat-button class="btn--text" (click)="goBack()" type="button">
                                <div class="btn__grid">
                                    <mat-icon svgIcon="arrow_back"></mat-icon>
                                    <div class="btn__value">{{ widgetFields?.backButtonText }}</div>
                                </div>
                            </button>

                        }
                    </div>
                    <div>

                        <button mat-flat-button color="primary"
                                (click)="goForward()" [disabled]="!answers[currentQuizNumber]">
                            <div class="btn__grid">
                                <div class="btn__value btn-multiline-def__content">{{ widgetFields?.nextButtonText }}</div>
                                <mat-icon svgIcon="arrow_forward"></mat-icon>
                            </div>
                        </button>

                    </div>
                </div>
            }
        </div>

    </ng-container>
</cst-wrapper>



