@use "_v3/calc" as calc;

$h: #{calc.$widget--image-tile} !default;

$init: (
  block--area: (media-query-up: (xs: '"m" "c"',
    lg: '"m c"'
  )),
  block--column: (media-query-up: (xs: 1fr,
    lg: auto 1fr,
  )),
  block--area-reverse: (media-query-up: (xs: '"m" "c"',
    lg: '"c m"'
  )),
  block--column-reverse: (media-query-up: (xs: 1fr,
    lg: 1fr auto,
  )),
  block--gap-y: (media-query-up: (xs: var(--#{calc.$cb}space-400),
    sm: var(--#{calc.$cb}space-300),
  )),
  block--gap-x: (media-query-up: (
    xs: var(--#{calc.$cb}space-600),
    lg: var(--#{calc.$cb}space-800),
    xl: var(--#{calc.$cb}space-1800),
  )),
  block--area-media-w: (media-query-up: (
    xs: 100%,
    lg: 26rem,
  )),
  block--area-media-h: (media-query-up: (
    xs: 27rem,
    lg: 32rem,
    xl: 35rem,
  )),
  block--area-media-radius: (media-query-up: (xs: var(--#{calc.$cb}radius-2),
    lg: var(--#{calc.$cb}radius-4),
  )),
  block--area-title-font-size: (media-query-up: (
    xs: calc(var(--#{calc.$cb}font-size-base) * 2.25),
    md: calc(var(--#{calc.$cb}font-size-base) * 3),
  )),
  block--area-font-size: (media-query-up: (
    xs: var(--#{calc.$cb}font-size-125),
    lg: var(--#{calc.$cb}font-size-base),
  )),
) !default;

:host {
  @include calc.css-initVars($init, $h);
  position: relative;
  display: block;
}

:host ::ng-deep {


  .block {
    &.is-reverse {
      --#{$h}block--area: var(--#{$h}block--area-reverse);
      --#{$h}block--column: var(--#{$h}block--column-reverse);
    }

    display: grid;
    align-items: center;
    grid-template-areas: var(--#{$h}block--area);
    grid-template-columns: var(--#{$h}block--column);
    gap: var(--#{$h}block--gap-y) var(--#{$h}block--gap-x);

    font-size: var(--#{$h}block--area-font-size);

    --#{calc.$cb}media-w: var(--#{$h}block--area-media-w);
    --#{calc.$cb}media-h: var(--#{$h}block--area-media-h);
    --#{calc.$cb}media-radius: var(--#{$h}block--area-media-radius);

    &__content {
      grid-area: c;

      a {
        display: inline-flex;
      }
    }

    &__media {
      grid-area: m;
    }

    //&__title .h2-garamond-heading {
    //  //font-size: var(--#{$h}block--area-title-font-size);
    //}
  }
}
