<cst-wrapper class="trial-resources" hostSizeClass="cst--md">
    <ng-container cst-title>
        <div i18n="@@trial-resources.clinical_trial_resources">Clinical Trial Resource </div>
    </ng-container>

    @for (resource of showAllResources ? resources : resources.slice(0, initAmountOfTrials); track resource) {
        <lilly-resource class="trial-resources__item" [resourceFields]="resource?.fields" [trialId]="trialId"></lilly-resource>
    }

    @if (!showAllResources) {
        <div class="trial-resources__show-all">
            <button mat-stroked-button (click)="showAllResources = true">
                <span i18n="@@trial-resources.show_all">Show All</span>
            </button>
        </div>
    }
</cst-wrapper>


