@use "_v3/calc" as *;

::ng-deep  {

  .leave-uk-dialog {
    max-width: var(--#{$cb}dialog-confirm-max-width-lg) !important;
  }

  .leave-lilly-dialog {
    max-width: var(--#{$cb}dialog-confirm-max-width) !important;

    .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}