@use "_v3/calc" as calc;

$h: '' !default;
$init: (
        title-style: (media-query-up: (
                xs: italic,
                lg: normal,
        )),
        form-offset-y: (media-query-up: (
                xs: var(--#{calc.$cb}space-500),
                lg: var(--#{calc.$cb}space-600),
        )),
        description-display: (media-query-up: (
                xs: none,
                lg: block,
        )),
        description-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                lg: var(--#{calc.$cb}font-size-lg),
        )),
) !default;

:host {
  @include calc.css-initVars($init, $h);

  ::ng-deep {
    .#{calc.$card-class}__body.block {
      font-size: var(--#{$h}description-font-size);

      > .block__title {
        .title {
          font-style: var(--#{$h}title-style);
        }
      }

      > .block__form {
        display: grid;
        align-items: center;
        margin-top: var(--#{$h}form-offset-y);
      }

      > .block__text {

      }

      > .block__description {
        &:not(.is-calc) {
          display: var(--#{$h}description-display);
        }
      }
    }
  }


}
