<cb-card class="bmi-card">

    <cb-card-body class="block">

            <div class="block__title">
                <h3 class="title text-center garamond-heading-3-font">{{ bmiWidgetFields?.title }}</h3>
            </div>
            <div class="block__text">
                <p class="text"
                   [innerHTML]="bmiWidgetFields?.calculatorDescription | mdToHtml: {analytics: cmsAnalytics, elementRef: elementRef}"></p>
            </div>
            <div class="block__description block__markdown" [ngClass]="{'is-calc': activeView !== View.CALCULATOR}">
                <p [innerHTML]="bmiWidgetFields?.resultDescription | mdToHtml"></p>
            </div>
            <div class="block__form">
                @switch (activeView) {
                    @case (View.CALCULATOR ) {
                        <lilly-bmi-calculator-form
                                [form]="calculatorForm"
                                [fields]="bmiWidgetFields"
                                (unitChanged)="buildForm($event)"
                                (formSubmitted)="onCalculate()">
                        </lilly-bmi-calculator-form>
                    }
                    @case (View.RESULT ) {
                        <lilly-bmi-result-table
                                [fields]="bmiWidgetFields"
                                [selectedBMI]="selectedBMI"
                                [bmi]="bmi"
                                [selectedRangePerc]="selectedRangePerc"
                                (goBack)="onGoCalculator()">
                        </lilly-bmi-result-table>
                    }
                }
            </div>

    </cb-card-body>
</cb-card>

