<cst-wrapper class="cst--save-later" [headerGridClass]="'is-full'" [showLabel]="false">
  <ng-container cst-title>
    {{ saveLaterBlockFields()?.heading }}
  </ng-container>
  <ng-container cst-header-content>
    @if (saveLaterBlockFields()?.button?.fields) {

        <div class="block__ctrl">
          <button mat-flat-button color="primary" (click)="onDownload()">
            <div class="btn__grid">
              <div>{{ saveLaterBlockFields()?.button?.fields?.text }}</div>
              <mat-icon svgIcon="download"></mat-icon>
            </div>

          </button>
        </div>

    }
  </ng-container>
  <container-wrapper [gridClass]="'is-full'">

    <div class="options">
      @for (option of saveLaterBlockFields()?.options; track option.sys.id) {
        <div class="block  block--option block--sm">
          <div class="block__media">
          <div class="media">
            <img [src]="option?.fields?.icon?.fields?.file?.url" [alt]="option?.fields?.altText || ''"
                 loading="lazy" decoding="async"/>
          </div>
          </div>
          <div class="block__content">
            <div class="block__title">{{ option?.fields?.title }}</div>
            <div class="block__text" [innerHTML]="option?.fields?.description | mdToHtml"></div>
          </div>
        </div>
      }
    </div>
  </container-wrapper>
</cst-wrapper>
