<cb-card class="md-card-promo" [id]="alertMeId">
    <cb-card-body class="block">
        <div class="block__title">
            <h2 class="title h2-garamond-heading" [innerHTML]="alertMeWidgetFields?.summary | mdToHtml"></h2>
        </div>
        <div class="block__text description">

                <span class="desktop" [innerHTML]="alertMeWidgetFields?.content | mdToHtml"></span>
                <span
                        class="mobile"
                        [innerHTML]="alertMeWidgetFields?.contentMobile || alertMeWidgetFields?.content | mdToHtml"
                ></span>

        </div>
        <div class="block__ctrl">
            <button mat-flat-button color="primary" class="mb-button-main"
                    [deepGtmTrigger]="GtmTriggerName.AlertMeReceive" (click)="goToTrialAlerts()">
                <div class="btn__grid">
                    <div>{{ alertMeWidgetFields?.buttonText }}</div>
                    <mat-icon [svgIcon]="'arrow_forward'" class="sm"></mat-icon>
                </div>
            </button>
        </div>
    </cb-card-body>
</cb-card>
