@use "_v3/calc" as calc;

$h: '' !default;

$init: (
  title-font-size: (
    media-query-up: (
      xs: calc(var(--#{calc.$cb}font-size-base) * 2.5),
      md: calc(var(--#{calc.$cb}font-size-base) * 3),
    )
  ),
) !default;

:host ::ng-deep {
  @include calc.css-initVars($init, $h);
  
  .#{calc.$card-class}.md-card-promo {
    @include calc.md-card-promo--custom();
    
    .title {
      font-size: var(--#{$h}title-font-size);
    }

    .block__text {
      @include calc.media-breakpoint-down(md) {
        font-size: var(--#{calc.$cb}font-size-lg);
      }
    }
  }
}
