<div class="carousel-navigation">
  @if (showNavArrows()) {
    <button
      type="button"
      class="nav-arrow nav-arrow--prev"
      [disabled]="isPrevDisabled()"
      [attr.aria-label]="'Previous slide'"
      (click)="goPrev()">
    </button>
  }

  <div class="carousel-navigation__mobile">
    <div class="carousel-pagination">
      @for (page of paginationPages(); track $index) {
        <button
          type="button"
          class="carousel-pagination__dot"
          [class.is-active]="currentPage() === $index"
          [attr.aria-label]="'Go to page ' + ($index + 1)"
          [attr.aria-current]="currentPage() === $index ? 'true' : 'false'"
          (click)="goToPage($index)">
        </button>
      }
    </div>

    @if (showNavArrows()) {
      <button
        type="button"
        class="nav-arrow nav-arrow--next"
        [disabled]="isNextDisabled()"
        [attr.aria-label]="'Next slide'"
        (click)="goNext()">
      </button>
    }
  </div>
</div>
