@if (carouselWasLoaded && items()?.length) {
    <div
            class="carousel-viewport"
            [ngClass]="viewportState">
        <owl-carousel-o
            #owlCar
            [options]="finalOptions()"
            (translated)="onTranslated($event)"
            [ngClass]="customCarouselStyleClass()">
            @for (item of items(); track item) {
                <ng-template carouselSlide>
                    <ng-container
                        [ngTemplateOutlet]="slideTemplate"
                        [ngTemplateOutletContext]="{$implicit: item}">
                    </ng-container>
                </ng-template>
            }
        </owl-carousel-o>
    </div>

    @if (shouldShowNavigation() && items()?.length > 1 && totalPages > 1) {
        <app-carousel-custom-nav
            [isPrevDisabled]="isPrevDisabled()"
            [isNextDisabled]="isNextDisabled()"
            [pages]="pages"
            [activeIndex]="activeIndex"
            (goPrevEmit)="goPrev()"
            (goNextEmit)="goNext()"
        />
    }
}
