@use "_v3/calc" as calc;

:host {
  display: block;
  width: 100%;
}

:host ::ng-deep {
  @import '../../../../assets/styles/_v3/modules/owl-carousel/owl-carousel';

  .carousel-wrapper {
    position: relative;
    width: 100%;
  }

  .owl-carousel {
    .owl-item {
      display: grid;
    }

    .owl-stage-outer {
      overflow: visible;
    }
  }

  .carousel-progress {
    width: 100%;
    height: 2px;
    background-color: var(--cb-color-neutral-base-020);
    border-radius: 1px;
    margin-top: var(--cb-space-600);
    overflow: hidden;

    @include calc.media-breakpoint-down(md) {
      display: none;
    }

    &__bar {
      height: 100%;
      background-color: var(--cb-color-neutral-base-100);
      border-radius: 1px;
      transition: width 0.3s ease;
    }
  }

  .carousel-controls {
    margin-top: var(--cb-space-400);
  }
}
