@use "_v3/calc" as calc;

$h: #{calc.$carousel} !default;
$init: (
        margin-y:(media-query-up: (
                xs: var(--#{calc.$cb}container-margin),
                xl: 170px,
        )),
) !default;
:host {
  @include calc.css-initVars($init, $h);
}

:host ::ng-deep {
  @import '../../../../../assets/styles/_v3/modules/owl-carousel/owl-carousel';
  @import '../../../../../assets/styles/_v3/modules/owl-carousel/owl-carousel-no-arrows.scss';


  .owl-carousel {
    position: relative;

    .owl-item {
      display: grid;
    }
  }

  .carousel-viewport {
    position: relative;
    overflow: hidden;
    margin-right: calc(var(--#{$h}margin-y) * -1);
    margin-left: calc(var(--#{$h}margin-y) * -1);
    & + * {
      margin-top: var(--#{calc.$cb}space-400);
      display :block;
    }


    .owl-stage-outer {
      overflow: visible;
    }

    .owl-stage {
     padding-left:var(--#{$h}margin-y) !important;
     padding-right:var(--#{$h}margin-y) !important;
    }

    &.at-end {
      .owl-stage {
        padding-right: 0 !important;
      }
    }
  }
}
