 @use "_v3/calc" as calc;


@use "../../abstract/material/material-main" as md;

//md.control.$test: green;

:root {
  //@include calc.css-initVars(md.$init-text-field, calc.$mdf);
  @include calc.css-initVars(md.$init, calc.$md);



  --mdc-dialog-container-shape: var(--#{calc.$cb}dialog-radius);
  --mat-divider-width: 1px;
  --mat-divider-color: var(--#{calc.$color}palette-transparent-black-030);


}

