@use "_v3/calc" as calc;

$h: calc.$md !default;
$init: (
        expansion-title-font-size: (media-query-up: (
                xs: 1.25rem,
                lg: 1.5rem,
        )),
        expansion-body-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-base),
                xxl: var(--#{calc.$cb}font-size-lg),
        )),
        expansion-panel-offset-y: (media-query-up: (
                xs: 1.5rem,
                lg: 2rem,
        )),

) !default;


:root {
  @include calc.css-initVars($init, $h);
}


.accordion {
  &.mat-expansion-panel {
    background: inherit;
    border-top: 2px solid var(--#{calc.$cb}divider);
    border-radius: 0;
    box-shadow: none !important;

    .mat-expansion-panel-header,
    .mat-expansion-panel-body {
      height: auto !important;
      padding-left: 0;
      padding-right: 0;
    }

    .mat-expansion-panel-header {
      min-height: 3.5rem;

      &:hover {
        background: transparent !important;
      }

      .mat-expansion-panel-header-title {
        font-size: var(--#{$h}expansion-title-font-size);
        line-height: 2.2rem;
        padding: var(--#{$h}expansion-panel-offset-y) 0;

        //@include calc.media-breakpoint-down(sm) {
        //  line-height: 1.5;
        //}

        > div > p {
          display: flex;
          align-items: center;
        }
        ul, ol {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      .mat-expansion-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        @include calc.square(1.75rem);
        border: 1px solid var(--#{calc.$cb}body-clr);
        color: var(--#{calc.$cb}body-clr);
        border-radius: 50%;
        text-align: center;
        transition: all .3s ease;

        &:after {
          border-color: currentColor;

        }

        &:hover {
          background-color: (var(--#{calc.$color}neutral-base-100));
          border-color: (var(--#{calc.$color}neutral-base-100));
          color: (var(--#{calc.$color}neutral-base-000));
        }
      }
    }
    &, &:hover:not([aria-disabled=true]), &:focus {
      background-color: transparent;
    }
    .mat-expansion-panel-content {
      padding: 0 !important;
    }

    .mat-expansion-panel-body {
      font-size: var(--#{$h}expansion-body-font-size);
      line-height: var(--#{calc.$cb}line-height-base);
      ul {
        @include calc.cb-list($bullet-color: currentColor);
      }

      ol {
        @include calc.cb-list-num($bullet-color: currentColor);
      }

      ul li,
      ol li {
        margin-bottom: var(--#{calc.$cb}space-100);
      }
    }
  }

  &.mat-expanded {
    &.mat-expansion-panel {
      border-top: 2px solid var(--#{calc.$color}neutral-base-100);
    }

    .mat-expansion-panel-header {
      .mat-expansion-indicator {
        transition: all .2s ease-in-out;

        background-color: (var(--#{calc.$color}neutral-base-100));
        border-color: (var(--#{calc.$color}neutral-base-100));
        color: (var(--#{calc.$color}neutral-base-000));
      }
    }

    .mat-expansion-panel-body {
      padding-bottom: var(--#{$h}expansion-panel-offset-y);
    }
  }
}

.mat-expansion-panel {
  border-radius: 0 !important;
}


