@use "_v3/calc" as calc;

.mat-mdc-card {

  --mdc-outlined-card-container-shape:var(--#{calc.$cb}card-border-radius) !important;
  --mdc-outlined-card-outline-width: 0;
  --mdc-elevated-card-container-shape: var(--#{calc.$cb}card-border-radius) !important;
  color: var(--#{calc.$cb}body-clr);


  .mat-mdc-card-content {
    padding-left: var(--#{calc.$cb}card-pad-x);
    padding-right: var(--#{calc.$cb}card-pad-x);

    &:first-child {
      padding-top: var(--#{calc.$cb}card-pad-y);
    }

    &:last-child {
      padding-bottom: var(--#{calc.$cb}card-pad-y);
    }
  }

  &:not([class*=mat-elevation-z]) {
    box-shadow: var(--#{calc.$cb}md-card-box-shadow);
  }

  .mat-mdc-card-header {
    padding: var(--#{calc.$cb}card-pad-y) var(--#{calc.$cb}card-pad-x);
  }
}
