@use "_v3/calc" as calc;

$h: calc.$md;

$md-checkbox-size: var(--#{calc.$md}checkbox-size);
$md-checkbox-icon-size: var(--#{calc.$md}checkbox-icon-size);
$md-checkbox-offset: var(--#{calc.$md}checkbox-list-offset);
$md-checkmark-size: var(--#{calc.$md}checkbox-checkmark-size);


:root {
  --mdc-checkbox-state-layer-size: var(--#{calc.$md}checkbox-size);
  --mdc-form-field-label-text-size: 1em;
}

.mdc-checkbox {
  padding: calc((var(--mdc-checkbox-state-layer-size) - $md-checkbox-icon-size) / 2) !important;
  margin: calc((var(--mdc-checkbox-state-layer-size) - var(--mdc-checkbox-state-layer-size)) / 2) !important;
  @include calc.square($md-checkbox-icon-size, !important);
  flex: 0 0 $md-checkbox-icon-size !important;
}

.mdc-checkbox .mdc-checkbox__background {
  @include calc.square($md-checkbox-icon-size, !important);
  border-width: var(--#{calc.$md}checkbox-border-size) !important;
  top: calc((var(--mdc-checkbox-state-layer-size) - $md-checkbox-icon-size) / 2) !important;
  left: calc((var(--mdc-checkbox-state-layer-size) - $md-checkbox-icon-size) / 2) !important;

  border-radius: var(--#{calc.$md}checkbox-border-radius) !important;
  border-color: var(--#{calc.$cb}form-primary-clr);
}

.mdc-checkbox__checkmark {
  top: calc(($md-checkbox-icon-size - $md-checkmark-size) / 2 - var(--#{calc.$md}checkbox-border-size)) !important;
  left: calc(($md-checkbox-icon-size - $md-checkmark-size) / 2 - var(--#{calc.$md}checkbox-border-size)) !important;
  @include calc.square($md-checkmark-size, !important);
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true]) ~ .mdc-checkbox__background {
  background-color: white !important;
  --mdc-checkbox-unselected-focus-icon-color: var(--#{calc.$cb}form-primary-clr);
  --mdc-checkbox-unselected-hover-icon-color: var(--#{calc.$cb}form-primary-clr);
}



.mat-mdc-radio-button, .mat-mdc-checkbox {
  --label-padding-x: 0rem;
  --label-padding-y: .65rem;
  --gap: .25rem;
  font-feature-settings: 'ss02' on;
  --mdc-form-field-label-text-size: 1em;

  .mdc-form-field {
    display: grid;
    align-items: center;
    white-space: normal;

    grid-template-columns:  min-content 1fr ;
    grid-template-areas:"check label";
    gap: var(--gap);
    padding: 0;
    cursor: pointer;
    //


    > .mdc-radio, > .mdc-checkbox {
      grid-area: check;
      margin-left: -0.5rem !important;
      margin-right: auto  !important;

      .mat-ripple-element {
        //display: none;
      }
    }

    > .mdc-label {
      display: grid;
      width: 100%;
      align-items: center;
      grid-area: label;
      cursor: pointer;
      line-height: 1.25;
      padding: var(--label-padding-y) var(--label-padding-x);
      //padding-left: calc(var(--label-offset) - 0.25rem  );
      user-select: none;

    }
  }

  &.cdk-keyboard-focused {
    outline: 2px solid var(--#{calc.$cb}btn-focus-clr);
  }

  &.left-aligned {
    .mdc-form-field {
      grid-template-columns: min-content auto;
      grid-template-areas: "check label";

      > .mdc-checkbox, > .mdc-radio {
        grid-column: auto;
        grid-row: auto;
      }

      > .mdc-label {
        padding-right: var(--label-padding-x);
      }
    }
  }
}

.mat-mdc-checkbox {
  --label-offset: calc(var(--#{calc.$md}checkbox-size));

  &.mat-primary.ng-touched.ng-invalid {
    --mdc-checkbox-unselected-icon-color: var(--#{calc.$cb}danger);
    --mdc-checkbox-unselected-focus-icon-color: var(--#{calc.$cb}danger);
  }
}

.mat-mdc-radio-button {
  --label-offset: var(--#{calc.$md}radio-size);
}


