 @use "_v3/calc" as calc;

.md-filter-panel {
  .md-head {
    min-height: 3rem;
  }

  &.is-text-filter-panel {
    padding-bottom: 0.5rem;
  }

  .mat-mdc-form-field-bottom-align::before {
    height: unset;
    display: unset;
  }
}
