 @use "_v3/calc" as calc;


.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-shape: var(--#{calc.$md}tooltip-border-radius);
  --mdc-plain-tooltip-container-color: var(--#{calc.$md}tooltip-bg-color);
  --mdc-plain-tooltip-supporting-text-size: var(--#{calc.$md}tooltip-font-size);
  --mdc-plain-tooltip-supporting-text-line-height: var(--#{calc.$cb}line-height-base);

  &.sort-tooltip {
    line-height: 1.2rem;
  }

  .mdc-tooltip__surface {
    max-width: 250px;
    height: max-content;
    max-height: 50vh;
    padding: var(--#{calc.$cb}space-100);
    overflow-y: auto !important;
    overflow-y: hidden;
  }
}
