<lilly-hero-section [pageFields]="pageFields" [noIntro]="true"></lilly-hero-section>

<cst-wrapper class="is-faq"> 
    <span class="eyebrow" [innerHTML]="pageFields?.intro | mdToHtml"></span>
    <h2 class="title h2-garamond-heading" [innerHTML]="pageFields?.description | mdToHtml"></h2>
    <ul>
        @for (section of pageFields?.sections; track section) {
            <li>
                <a class="list-item" (click)="helperService.scrollToSection(section?.fields?.sectionId)" [innerHTML]="section?.fields?.navTitle | mdToHtml"></a>
            </li>
        }
    </ul>
</cst-wrapper>

@for (section of pageFields?.sections; track section) {
    <lilly-section
      [section]="section"
      [background]="section?.fields?.backgroundColor"
      [navElements]="[]"
      [trials]="trials"
      [filters]="filters"
      [subsiteName]="subsiteName"
      [pageType]="PageType.FAQ">
    </lilly-section>
}
