@use "_v3/calc" as calc;
$h: '' !default;
$init: (
        font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-lg),
        )),
        eyebrow-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-xs),
                lg: var(--#{calc.$cb}font-size-sm),
        )),
        title-font-size: (media-query-up: (
                xs: calc(var(--#{calc.$cb}font-size-base) * 2.5),
                lg: calc(var(--#{calc.$cb}font-size-base) * 3.75),
        )),
        faq-title-font-size: (media-query-up: (
                xs: calc(var(--#{calc.$cb}font-size-base) * 2.25),
                lg: calc(var(--#{calc.$cb}font-size-base) * 6.25),
        )),
        link-font-size: (media-query-up: (
                xs: var(--#{calc.$cb}font-size-lg),
                md: var(--#{calc.$cb}font-size-125),
        ))
) !default;

:host {
  @include calc.css-initVars($init, $h);
}

:host ::ng-deep {
  .cst.is-faq {
    --#{calc.$cb}cst-bg-clr: var(--#{calc.$color}palette-red-005);

    .cst__header {
      display: none;
    }

    .cst__content {
      .eyebrow {
        font-family: var(--#{calc.$cb}font-sans-extra-wide);
        font-size: var(--#{$h}eyebrow-font-size);
        font-weight: var(--#{calc.$cb}font-weight-bolder);
        text-transform: uppercase;

        p {
          margin-bottom: var(--#{calc.$cb}block-offset-lg-y);
        }
      }

      .title {
        font-size: var(--#{$h}title-font-size);
        font-style: italic;
        margin-bottom: var(--#{calc.$cb}block-offset-md-y);
      }

      ul {
        @include calc.cb-list($bullet-color: var(--#{calc.$cb}primary));

        .list-item {
          font-size: var(--#{$h}link-font-size);
        }
      }
    }
  }

  .cst {
    .cst__header {
      .title {
        --#{calc.$cb}cst-title-align: start;
        font-size: var(--#{$h}faq-title-font-size);
        font-weight: var(--#{calc.$cb}font-weight-middle);
      }
    }
  }
}
