@use '_v3/calc' as calc;

$h: 'cb-video-carousel-';

$init: (
  title-font: (media-query-up: (
    xs: '400 3rem / 1.25 var(--#{calc.$cb}font-family-serif)',
    lg: '700 4rem / 1.05 var(--#{calc.$cb}font-sans-narrow)',

  )),
  sub-title-font: (media-query-up: (
    xs: '400 3rem / 1.25 var(--#{calc.$cb}font-family-serif)',
    lg: '400 4rem / 1.05 var(--#{calc.$cb}font-family-serif)',

  ))
);

:host {
  @include calc.css-initVars($init, $h);
  display: block;
  width: 100%;
  //padding: var(--#{$h}container-spacing) 0;
}

:host ::ng-deep {

  .cst__header {
    .title {
      font: var(--#{$h}title-font);
      letter-spacing: -0.025rem;
    }
    .block__subtitle {
      font: var(--#{$h}sub-title-font);
      letter-spacing: -0.025rem;
      font-style: italic;
      text-align: var(--#{calc.$cb}cst-header-align);
    }
  }
  .video-carousel-block {
    &__controls {
      display: grid;
      --grid-template-columns: 1fr auto;
      grid-template-columns: var(--grid-template-columns);
      justify-content: space-between;
      align-items: center;
      margin-bottom: var(--#{calc.$cb}cst-header-gap);
      gap: var(--#{calc.$cb}space-400);
      .nav--tabs {
        justify-content: start;
      }
      @include calc.media-breakpoint-down(md) {
        --grid-template-columns: 1fr;
        justify-content: center;

      }
    }

    &__wrapper {
      position: relative;
    }
  }

  .hide-on-mobile {
    @include calc.media-breakpoint-down(md) {
      display: none;
    }
  }

  .hide-on-desktop {
    @include calc.media-breakpoint-up(lg) {
      display: none;
    }
  }

  .carousel-controls-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--cb-space-400);
    gap: var(--cb-space-400);

    @include calc.media-breakpoint-up(lg) {
      display: none;
    }
  }

  .carousel-view-all {
    &__link {
      white-space: nowrap;
    }
  }

  .carousel-view-all {
    display: flex;
    justify-content: flex-end;

    &__link {
      color: var(--cb-color-brand-base-060);
      font-size: var(--cb-font-size-base);
      font-weight: var(--cb-font-weight-semibold);
      text-decoration: underline;
      cursor: pointer;
      transition: color 0.3s ease;

      &:hover {
        color: var(--cb-color-brand-base-070);
      }
    }

    @include calc.media-breakpoint-up(lg) {
      display: none;
    }
  }
}
