<cst-wrapper class="cst--my-0 cst--video-carousel" [headerGridClass]="'is-full'" [showTitle]="false">

  <ng-container cst-header-content>
    @if (fields()?.label) {
      <div class="cst__label">
        {{ fields()?.label }}
      </div>
    }
    <div class="block block--xs">
      <div class="block__title">
        <h1 class="title">
          {{ fields()?.title }}
        </h1>
      </div>
      @if (fields()?.subtitle) {
        <div class="block__subtitle">{{ fields()?.subtitle }}</div>
      }
    </div>

  </ng-container>


  <container-wrapper [gridClass]="'is-full'">
    <div class="video-carousel-block">

      <div class="video-carousel-block__controls">
        @if (fields()?.categoryTabs?.length) {
          <div class="nav--tabs hide-on-mobile">
            <div class="nav--tabs__container">
              <lilly-one-row-navigation>
                <div class="nav--tabs__content">
                  @for (tab of fields()?.categoryTabs; track tab?.sys?.id) {
                    <button
                      mat-button
                      class="nav--tabs__item"
                      [class.selected]="selectedCategory() === tab?.fields?.filterValue"
                      [attr.aria-selected]="selectedCategory() === tab?.fields?.filterValue"
                      [attr.aria-label]="tab?.fields?.label"
                      (click)="onCategoryClick(tab)"
                      tabindex="0">
                      <span>{{ tab?.fields?.label }}</span>
                    </button>
                  }
                </div>
              </lilly-one-row-navigation>
            </div>
          </div>

          <div class="form-group hide-on-desktop">
            @if (fields()?.categoryMobileDropdownLabel) {
              <div class="label--external">{{ fields()?.categoryMobileDropdownLabel }}</div>
            }
            <mat-form-field class="category-dropdown has-out-hint">
              <mat-select [value]="selectedCategory()" (selectionChange)="onCategoryChange($event.value)">
                @for (tab of fields()?.categoryTabs; track tab?.sys?.id) {
                  <mat-option [value]="tab?.fields?.filterValue">{{ tab?.fields?.label }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        }

        @if (fields()?.ctaButton?.fields) {
          <button
            mat-stroked-button
            color="primary"
            class="btn--return hide-on-mobile"
            (click)="onCtaClick()">
            <div class="btn__grid">
              <div>{{ fields()?.ctaButton?.fields?.text }}</div>
              <mat-icon svgIcon="arrow_back"></mat-icon>
            </div>
          </button>
        }
      </div>

      <div class="video-carousel-block__wrapper">
        <app-custom-carousel
          #customCarouselEl
          [items]="filteredVideos()"
          [maxVisibleCards]="fields()?.maxVisibleCards || 3"
          [shouldShowNavigation]="false"
          [shouldShowProgressBar]="true"
          [breakpoints]="carouselBreakpoints">
          <ng-template #slideTemplate let-video>
            <lilly-video-card [video]="video"/>
          </ng-template>
        </app-custom-carousel>

        @if (customCarousel() && filteredVideos().length > 1) {
          <div class="carousel-controls-wrapper">
            <app-carousel-custom-nav
              [isPrevDisabled]="customCarousel()!.isPrevDisabled()"
              [isNextDisabled]="customCarousel()!.isNextDisabled()"
              [paginationPages]="customCarousel()!.paginationPages()"
              [currentPage]="customCarousel()!.currentPage()"
              (goPrevEmit)="customCarousel()!.goPrev()"
              (goNextEmit)="customCarousel()!.goNext()"
              (goToPageEmit)="customCarousel()!.goToPage($event)"
            />

            @if (fields()?.viewAllButton?.fields) {
              <div class="carousel-view-all">
                <a class="carousel-view-all"
                   [href]="helperService.prepareContentfulLink(fields()?.viewAllButton?.fields?.link)"
                   (click)="onViewAllClick($event)"
                   itemprop="url"
                   routerLinkActive="is-active"
                   [attr.aria-label]="fields()?.viewAllButton?.fields?.text"
                   tabindex="0">
                  {{ fields()?.viewAllButton?.fields?.text }}
                </a>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </container-wrapper>

</cst-wrapper>
