<section
  class="cb-intro-tabs"
  (mouseover)="stopTimer()"
  (mouseleave)="startTimer()"
  (swipe)="onSwipe($event)"
  [ngClass]="{'enable-animation': animationEnabled}"
  [attr.aria-label]="currentTabTitle"
>
  <mat-tab-group [dynamicHeight]="true" animationDuration="0ms" [selectedIndex]="tabActiveIndex" (selectedTabChange)="onTabChange()">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab>
        <lilly-tab-content [tabContentFields]="tab?.fields" [entryId]="tab?.sys.id"></lilly-tab-content>
      </mat-tab>
    </ng-container>
  </mat-tab-group>

  <div class="container" *ngIf="tabs?.length > 1">
    <div class="row g-0 align-items-center justify-content-center">
      <ng-container *ngFor="let tab of tabs">
        <button
          mat-icon-button
          disableRipple=""
          [ngClass]="{ 'is-active': tab?.tabIndex === tabActiveIndex }"
          (click)="tabActiveIndex = tab?.tabIndex"
          attr.aria-label="tab {{tab?.tabIndex+1}}"
        >
          <span class="indicator"></span>
        </button>
      </ng-container>
    </div>
  </div>
</section>