@if (!isHomePageNewDesign) {
    <div *showForRegions="[Language.es_AR, Language.es_MX]" class="hm-ar-mx"></div>
}

<section class="hm-wrapper cb-max-view">
    <input name="empty" type="hidden" autofocus style="position:absolute; height:0; bottom:0;">
    @if (isHomePageNewDesign) {
        <lilly-home-search [heroImageHomeSrc]="heroImage()" class="find-area"/>

        <cst-wrapper [gridClass]="''" [logoSubjectClass]="''" class="cards-section is--first">
            <ng-container cst-title>
                <div i18n="@@home.cards-title">
                    A medicine company<br><span style="font-style: italic">does more than make medicine.</span>
                </div>
            </ng-container>
            @for (card of cardArrangementWidget?.cards; track card) {
                <lilly-card-widget-2
                        [cardWidgetFields]="card?.fields"
                        [cmsAnalytics]="{actionsArr: ['HomePageCardClicked'], cmsId: card?.sys.id}"
                        [sectionshowTitle]="true"
                        class="card-with-padding">
                </lilly-card-widget-2>
            }
        </cst-wrapper>


    } @else {
        <lilly-tabs-widget #tabs [tabsWidgetFields]="tabsWidget?.fields" class="tabs-area"></lilly-tabs-widget>
        <lilly-find-clinical-trial class="find-area"></lilly-find-clinical-trial>
    }

    <cst-wrapper [showLogoSubject]="false" class="is-resources-area resources-area" [id]="ClientRoutes.HomeFragmentResearchAreas">
        <ng-container cst-title>
            <div [innerHTML]="researchAreaFields?.mainTitle | mdToHtml"></div>
        </ng-container>
        <ng-container cst-header-content>
            <div class="block">
                <div class="block__subtitle text-center" [innerHTML]="researchAreaFields?.subTitle | mdToHtml"></div>

                <div class="nav--tabs is-nav-desktop">
                    <div class="nav--tabs__container" id="nav-cont-elements">
                        <lilly-one-row-navigation>
                            <div class="nav--tabs__content">
                                @for (item of researchAreaFields?.menu; track item) {

                                    <button mat-button class="nav--tabs__item"
                                            [attr.aria-selected]="item?.sys.id === selectResource?.sys.id"
                                            [class.selected]="item?.sys.id === selectResource?.sys.id"
                                            (click)="onRALabelClick(item)"
                                            (keydown.enter)="onRALabelClick(item)"
                                    >
                                        <span>{{ item?.fields?.title }}</span>
                                    </button>

                                }
                            </div>
                        </lilly-one-row-navigation>
                    </div>
                </div>
                <!--New mobile select-->
                <div class="form-group is-nav-mobile">
                    <label for="research-areas-dropdown" class="label--external">{{ researchAreaFields?.mobileDropdownLabel }}</label>
                    <mat-form-field class="research-areas-dropdown has-out-hint">

                        <mat-select [value]="selectResource"
                                    id="research-areas-dropdown"
                                    (selectionChange)="onRALabelClick($event.value)">
                            @for (item of researchAreaFields?.menu; track item) {
                                <mat-option [value]="item">{{ item?.fields?.title }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </ng-container>
        <ng-container *ngTemplateOutlet="resourcesT"></ng-container>
    </cst-wrapper>


    <ng-template #resourcesT>
        <div class="block" aria-label="Research Areas" i18n-aria-label="@@extended-home-v1.research-areas">
            @if (!isHomePageNewDesign) {
                <ng-container *showForRegions="[Language.es_AR, Language.es_MX]">
                    <div class="block__text block__introduction" i18n="@@extended-home_v1.follow_links">
                        Follow the links in the research areas section to learn more about research at Lilly.<br>
                        You can learn about conditions that Lilly carries out research for, why it is important, and how
                        to
                        get
                        involved.
                    </div>
                </ng-container>
            }
            <div class="block block--sm ">
                @if (selectResource) {
                    <div class="block is-grid block--area">
                        <div class="block__content block--area__content">
                            <div class="block__title">
                                <h3 class="title h2-garamond-heading">
                                    {{ selectResource?.fields?.title }}
                                </h3>
                            </div>

                            <div class="block__text" [innerHTML]="selectResource?.fields?.description | mdToHtml: {
                                        analytics: {actionsArr: ['RALinkClicked'], cmsId: selectResource?.sys.id},
                                        elementRef: elementRef
                                    }">
                            </div>
                            @if (selectResource?.fields?.buttonVisible !== false && isObservable(selectResource?.fields?.trialsCnt$) && (selectResource?.fields?.trialsCnt$ | async)) {
                                <div class="block__ctrl">
                                    <button mat-flat-button
                                            color="primary"
                                            [attr.cbgtmevent]="GtmTriggerName.FindATrialMiniSite"
                                            (click)="navigateToListingWithCriteria(selectResource); $event.preventDefault()">
                                        <div class="btn__grid">
                                            <div [attr.cbgtmevent]="GtmTriggerName.FindATrialMiniSite">
                                                {{ selectResource?.fields?.buttonText }}
                                            </div>
                                            <mat-icon svgIcon="arrow_forward"></mat-icon>
                                        </div>
                                    </button>
                                </div>
                            }
                        </div>
                        <div class="block--area__media">
                            <picture class="media">
                                <img width="100%"
                                     [src]="selectResource?.fields?.image?.fields?.file?.url"
                                     [alt]="selectResource?.fields?.imageAltText || ''">
                            </picture>
                        </div>
                    </div>

                }
            </div>

        </div>
    </ng-template>
</section>
